---
layout: posthome
title: Blog
description: News, techniques and tips for living a raw food lifestyle.
categories: blog
---


{% include banner.html %}

<div class="container">
  <div class="row">
    <div class="col-md-6">

 
      <div class="blog-index">  
      {% for post in site.categories.articles limit:1 %}
    
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
        {% include post_detail.html %}
    
        {% endfor %}



      </div>
<hr>


  
    </div>
      <div class="col-md-6">

  <ul class="posts"><blockquote>
  <div class="headline-box-blue">
   
      {% include immersionad.html %}
    </div>
         {% include responsivesignup.html %}

<br>
      <p class="lead">Archive</p>

    {% for post in site.posts %}
     {% unless (post.categories contains 'testimonials' or post.categories contains 'videos' or post.tags contains 'suppress' %}
      <li><a href="{{ relative }}{{ post.url }}">{{ post.title }} </a>


       {% if post.tags contains 'recipes' %}
        <button type="button" class="btn btn-recipes btn-xs hidden-inline-xs" disabled="disabled">recipes</button></li>

        {% elsif post.tags contains 'how-tos' %}<button type="button" class="btn btn-how-tos btn-xs hidden-inline-xs" disabled="disabled">how-tos</button></li>

        {% elsif post.tags contains 'beauty' %}<button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled">beauty</button></li>

        {% elsif post.tags contains '2 minute health tip' %}<button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled">2-Minute Health Tip</button></li>

        {% elsif post.tags contains 'testimonial' %}<button type="button" class="btn btn-testimonials btn-xs hidden-inline-xs" disabled="disabled">testimonials</button></li>

        {% endif %}

        
 
      <span class="visible-xs"><hr></span>
     {% endunless %}
     {% endfor %}

<br><hr>
{% include ebooksignup.html %}

</div>

   </blockquote>
  </ul>
  </div>
  </div>
</div>

