---
layout: default
title: The Raw Food Institute Live Immersion Detox Retreat
description: 3 Day Immersion Bootcamp. Learn how to live a raw food lifestyle at home while detoxifying and energizing your body.
categories: programs
---

{% include banner.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
          
          <h2>Hey DC…  We've missed you!  <br></h2><p class="lead">  <span class="text-muted"> Normally we hold 7 day immersion retreats in Simsbury Connecticut.  However, some of you have said you can't get away for a full 7 days, so we are listening… Join us for a rare opportunity to do a<font color="#e73692"> weekend retreat </font>with The Raw Food Institute, in Washington DC!  </span></p>
  
   

          </div>
        </div>
      </div>


  
<img src="/img/bootcampbanner2.jpg" alt="january class" class="img-responsive">
      
      </div>



 
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-sm-8"> 
  
         <h3>This life changing 3 days includes:</h3>
        <ul class="lead">
        <li><i class="fa fa-check-square-o"></i> Classes and activities with <strong>Lisa Wilson</strong></li>
        <li><i class="fa fa-check-square-o"></i> All of your meals and learning materials</li>
        <li><i class="fa fa-check-square-o"></i> Health and nutrition lectures from leading raw food educators</li>
        <li><i class="fa fa-check-square-o"></i> Advanced healing and preventative tools</li>
        <li><i class="fa fa-check-square-o"></i> Over 100 pages of handouts and worksheets</li>
        </ul>


      </div>
     
    </div>
  </div>
</div>

  

 


<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12"><br>
<h3>Back by popular demand.  Come join us for our upcoming weekend Immersion Bootcamp at <a href="http://www.nihadc.com/" target="_blank">N.I.H.A</a> in Washington D.C. </h3><br>

    </div>
  </div>
</div>
</div>





<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Class Topics Include:</h3>
    </div>
  </div>
</div>
</div>

<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">







<ul class="lead">
  

<li><i class="fa fa-check-square-o"></i> Green Juice Therapy</li>
<li><i class="fa fa-check-square-o"></i> The Pillars of Healing</li>
<li><i class="fa fa-check-square-o"></i> Therapeutic and Medicinal Raw</li>
<li><i class="fa fa-check-square-o"></i> Digestive Wellness</li>
<li><i class="fa fa-check-square-o"></i> Raw Entrees</li>
<li><i class="fa fa-check-square-o"></i> Recreational Raw</li>
<li><i class="fa fa-check-square-o"></i> Dehydration</li>
<li><i class="fa fa-check-square-o"></i> Sprouting 101, 102 and 103</li>
<li><i class="fa fa-check-square-o"></i> Herbs</li>
<li><i class="fa fa-check-square-o"></i> Essential Oils</li>
<li><i class="fa fa-check-square-o"></i> Medicinal Teas</li>
<li><i class="fa fa-check-square-o"></i> Natural Remedies</li>
<li><i class="fa fa-check-square-o"></i> MUCH more!</li></p>
   

</ul>
   </div>

    </div>
  </div>
</div>



<div class="container-fluid">
  
<img class="img-responsive" src="/img/happy.jpg">
      
      </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1>This will be weekend packed with learning.</h1>

<h3>All you need to launch your raw food lifestyle, in the most balanced, holistic way possible. We have not done a retreat at N.I.H.A. in a couple of years.  We think it's time, don't you?</h3>


<p class="lead"> <strong>Registration for the weekend is $997.</strong><small>*not refundable*does not include accomodations</small> </p> <p class="lead"><font color="#e67e22"> Please register early, this program will sell out quickly!</font></p>





          </div>
      </div>
    </div>
  </div>
 
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 center"><br>


<p class="lead"><strong>Washinton D.C. Bootcamp</strong> September 26-28th, 2014 <font color="#d9534f"> @ National Integrated Health Associates 5225 Wisconsin Ave. NW Suite 402, Washington, DC 20015</font>
     <form action="https://secure.therawfoodinstitute.com/cart?&cart=checkout&empty=true" method="post">
  <input type="hidden" name="name" value="September 26-28th Washington D.C. Bootcamp" />
  <input type="hidden" name="price" value="997.00" />
   <input type="hidden" name="category" value="IMSN" />
    </select>
enter your promo code (optional) <input type="text" name="coupon" placeholder="eg 123456" /> 
  <input type="submit" value="Register" class="btn btn-lg btn-shop"></button>
</form></p></h2>
<br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 font-blue">
        <h1>Questions?<span class="muted"> Contact us!</h1>
{% include contact.html %}
{% include bootcampcontactform.html %}


    </div>
  </div>
</div>

