---
layout: default
title: The Raw Food Institute Live Immersion Detox Retreat
description: 3 Day Immersion Bootcamp. Learn how to live a raw food lifestyle at home while detoxifying and energizing your body.
categories: programs
---

{% include banner.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
          
          <h2>Upgrade your life with 3-days of green juice cleansing, raw food training and recharging with Lisa Wilson and The Raw Food Institute. Leave feeling refreshed, energized and ready to live the life you dream about. <br></h2><p class="lead">  <span class="text-muted"> Normally we hold 7 day immersion retreats in Simsbury Connecticut.  However, some of you have said you can't get away for a full 7 days, so we are listening… Join us for a rare opportunity to do a<font color="#e73692"> weekend retreat </font>with The Raw Food Institute, in Washington DC!  </span></p>
  
   

          </div>
        </div>
      </div>


  
<img src="/img/bootcampbanner2.jpg" alt="january class" class="img-responsive">
      
    


<div class="container">
  <div class="row">
      <div class="col-sm-8"> 
  
         <h3>This life changing 3 days includes:</h3>
        <ul class="lead">
        <li><i class="fa fa-check-square-o"></i> Classes and activities with <strong>Lisa Wilson</strong></li>
        <li><i class="fa fa-check-square-o"></i> 3-Day Green Juice Cleanse </li>
        <li><i class="fa fa-check-square-o"></i> All of your meals and learning materials</li>
        <li><i class="fa fa-check-square-o"></i> Health and nutrition lectures from leading raw food educators</li>
         <li><i class="fa fa-check-square-o"></i> Raw food preparation demonstrations</li>
        <li><i class="fa fa-check-square-o"></i> Advanced healing and preventative tools</li>
        <li><i class="fa fa-check-square-o"></i> Over 100 pages of handouts and worksheets</li>
        </ul>


      </div>
     
    </div>
  </div>


 


<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12"><br>
<h3>Back by popular demand.  Come join us for our upcoming weekend Immersion Bootcamp Cleanse at <a href="http://www.nihadc.com/" target="_blank">N.I.H.A</a> in Washington D.C. </h3><br>

    </div>
  </div>
</div>
</div>





<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Class Topics Include:</h3>
    </div>
  </div>
</div>
</div>

<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">







<ul class="lead">
  

<li><i class="fa fa-check-square-o"></i> Green Juice Therapy</li>
<li><i class="fa fa-check-square-o"></i> The Pillars of Healing</li>
<li><i class="fa fa-check-square-o"></i> Therapeutic and Medicinal Raw</li>
<li><i class="fa fa-check-square-o"></i> Digestive Wellness</li>
<li><i class="fa fa-check-square-o"></i> Raw Entrees</li>
<li><i class="fa fa-check-square-o"></i> Recreational Raw</li>
<li><i class="fa fa-check-square-o"></i> Dehydration</li>
<li><i class="fa fa-check-square-o"></i> Sprouting 101, 102 and 103</li>
<li><i class="fa fa-check-square-o"></i> Herbs</li>
<li><i class="fa fa-check-square-o"></i> Essential Oils</li>
<li><i class="fa fa-check-square-o"></i> Medicinal Teas</li>
<li><i class="fa fa-check-square-o"></i> Natural Remedies</li>
<li><i class="fa fa-check-square-o"></i> MUCH more!</li></p>
   

</ul>
   </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-8"> 
  
         <h3>Who can benefit from the Bootcamp?</h3>
        <ul class="lead">
        <li><i class="fa fa-check-square-o"></i> Professionals looking to enhance their job performance</li>
        <li><i class="fa fa-check-square-o"></i> Moms seeking to upgrade their family's meals </li>
        <li><i class="fa fa-check-square-o"></i> Anyone with health challenges who need complementary nutrition therapy</li>
        <li><i class="fa fa-check-square-o"></i> Anyone who wants to boost their energy levels and immune system</li>
         <li><i class="fa fa-check-square-o"></i> Everyone truly can benefit from bringing raw food into their lives!</li>
        </ul>


      </div>
     
    </div>
  </div>

<div class="container-fluid">
  
<img class="img-responsive" src="/img/happy.jpg">
      
      </div>
<div class="headline-green">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1>This will be weekend packed with learning, connecting and rejuvenating your mind, body and spirit.</h1>

<h3>Get a powerful 3-Day green juice cleanse and learn all you need to launch your raw food lifestyle, in the most balanced, holistic way possible. We have not done a retreat at N.I.H.A. in a couple of years.  We think it's time, don't you?</h3><br><br>
</div>
</div>
</div>
<div class="container">
  <div class="row">
  <div class="col-sm-4">
  
 <h3>Schedule:</h3>
 <ul class="lead">
<li></i> Friday: 2pm - 8pm</li>
<li></i> Saturday: 9am - 5pm</li>
<li></i> Sunday: 9am - 5pm</li>

   

</ul>
<h3>Food and Juice Included:</h3>
 <ul class="lead">
<li><i class="fa fa-check-square-o"></i> Morning green juice and tea</li>
<li><i class="fa fa-check-square-o"></i> Raw lunch</li>
<li><i class="fa fa-check-square-o"></i> Afternoon green juce</li>
<li><i class="fa fa-check-square-o"></i> Take home raw dinner</li>

   

</ul>
</div>
<div class="col-sm-8">

  <style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 0px;  height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='//www.youtube.com/embed/kGL6PSW6clc?&rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen></iframe></div>
</div>
</div>
<br><br>
<h3> <strong>Registration for the weekend is $997. </strong> Payment plans are available, please call (888) 799-9147 to talk to a program representative to find a plan that works for you.<small>*not refundable*does not include accomodations</small> </h3> 
<br><br>
</div>

          </div>
      </div>
    </div>
  </div>
    </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-12"><br><br>
<p class="lead"><font color="#e67e22"> Please register early, this program will sell out quickly! Register now and get <strong>12 Weeks of Success Coaching</strong> with a Certified Raw Food Educator <strong>FREE ($600 value)</strong>.  Get one-on-one, personalized coaching to help you implement the techniques you will learn and achieve your nutrition goals.</font></p>
<br><br>
  </div>
</div>
</div>



 

  <div class="headline-yellow">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 center"><br><br><br>
<p class="giant">Register NOW! Only $997!!</font>

<p class="lead"><strong>Washinton D.C. Bootcamp</strong> September 26-28th, 2014 <font color="#d9534f"> @ National Integrated Health Associates 5225 Wisconsin Ave. NW Suite 402, Washington, DC 20015. <strong></strong> </font>
     <form action="https://secure.therawfoodinstitute.com/cart?&cart=checkout&empty=true" method="post">
  <input type="hidden" name="name" value="September 26-28th Washington D.C. Bootcamp" />
  <input type="hidden" name="price" value="997.00" />
   <input type="hidden" name="category" value="IMSN" />
    </select>
enter your promo code (optional) <input type="text" name="coupon" placeholder="eg 123456" /> 
  <input type="submit" value="Register" class="btn btn-lg btn-danger-2"></button>
</form></p></h2>
<br>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <h3>More info</h3>
  <hr>
  
  <p class="lead"><strong>Nearby hotels</strong></span></p>
<p>
  <strong>Chevy Chase Motel </strong>-0.46 miles away<br />
  5520 Wisconsin Ave, Chevy Chase, MD<br />
  301-656-1500</p>
<p>
  <strong>Embassy Suites Chevy Chase Pavilion - </strong>0.20 miles away<br />
  4300 Military Road, NW, Washington, DC<br />
  202-362-9300</p>
<p>
  <strong>Hilton Garden Inn, Washington DC/Bethesda</strong> -1.8 Miles away<br />
  7301 Waverly Street Bethesda, MD 20814<br />
  (301) 654-8111</p>
<p>
  <strong>Holiday Inn Chevy Chase</strong>&nbsp; - 0.47 miles away<br />
  5520 Wisconsin Ave, Bethesda, MD<br />
  301-656-1500</p>
<p>
  <strong>Days Inn </strong>- 1.30 miles away<br />
  4400 Connecticut Ave NW, Washington, DC<br />
  202-244-5600</p>
<p>
  <strong>Residence Inn</strong> <strong>by Marriott</strong>- 1.79 miles away<br />
  7335 Wisconsin Ave, Bethesda, MD<br />
  301-718-0200</p>
<p>
  <strong>Hyatt Regency</strong> - 1.84 miles away<br />
  7400 Wisconsin Ave, Bethesda, MD<br />
  301-657-1234</p>
<p>
  <strong>Bethesda Court Hotel </strong>- 2.10 miles away<br />
  7740 Wisconsin Ave, Bethesda, MD<br />
  301-656-2100</p>
   <p class="lead"><strong>Directions</strong></span></p>
<p>
  <strong>From Baltimore &amp; Maryland </strong><br />
  EASIEST: Take I-95 South to I-495 West heading toward Rockville.<br />
  From I-495 take Exit 34 and stay in the far right lane which forks and loops south onto Wisconsin Ave., Route 355 South. ( Rt. 355 South is Rockville Pike, which turns into Wisconsin Ave.)<br />
  Stay on Wisconsin Ave. for about 4 –5 miles, crossing Western Ave. The next light is Jenifer Street. Take a Left on to Jenifer Street. Turn Right down the first ramp into parking garage (same garage as Red Door Spa) The elevators for the building are between the parking garage floors, accessible only via steps. The office is on the 4th floor, suite 402</p>
<p>
  FASTEST: Take I-95 South to I- 495 West heading toward Rockville.<br />
  Stay on I- 495 until Connecticut Ave. (Exit 33) Take Connecticut Ave. South toward Washington, D.C. Go ½ way around Chevy Chase Circle and continue straight on Connecticut Ave.<br />
  Turn Right onto Military Rd. and continue for approximately ½ mile<br />
  Turn Left onto 43rd St., go to the end of the block where you are forced to turn Right onto Jenifer St. Take a Left down the last ramp (before Wisconsin&nbsp; Ave intersection)&nbsp; into the parking garage (same garage as Red Door Spa) The elevators for the building are between the parking garage floors, accessible only via steps. The office is on the 4th floor, suite 402</p>
<p>
  <strong>From Virginia </strong><br />
  From I –95 North take the Capital Beltway ( I- 495 North) toward Tysons Corner and Maryland. Take I –495 North into Maryland, take River Road East (exit 39) toward Washington DC. Follow River Road for approximately 4 miles. Turn Left at Western Ave. and follow for approximately ¼ mile. Turn Right onto Jenifer Street. Follow Jenifer Street across Wisconsin Ave. Turn Right down the first ramp into parking garage (same garage as Red Door Spa) The elevators for the building are between the parking garage floors, accessible only via steps. The office is on the 4th floor, suite 402.</p>
<p>
  <strong>Via Metro </strong><br />
  Take the Red Line to Friendship Heights Metro Station. Exit the station via the Jenifer Street Exit&nbsp; elevator. Upon leaving Metro station, 5225 Wisconsin Ave is directly across the street. The office is on the 4th floor, suite 402</p>
<p>
  <strong>Handicap Access </strong><br />
  The parking garage has handicap parking spaces near the elevators, but to get to the elevators you must walk up or down 7 steps. If steps are difficult to use, we recommend that you park on Wisconsin Ave. in front of the building or on 43rd Street behind the building and use those handicap accessible entrances to the building. If you need assistance, please advise us in advance and we will provide support and a wheel chair if needed. We apologize for the inconvenience.</p>
<p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 font-blue">


        <h1>Questions?<span class="muted"> Contact us!</h1>
{% include contact.html %}
{% include bootcampcontactform.html %}


    </div>
  </div>
</div>

