---
layout: default
title: Distance Learning
description: All the core classes from our award winning Immersion Program in a convenient online course.
---
<!-- NAVBAR
================================================== -->


          <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="whyraw.html">Raw + Detox</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="shop.html">Shop</a></li>
             <li><a href="contact.html">Contact</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li><a href="immersion.html">Live Immersion Program</a></li>
                <li><a href="distancelearning.html">Distance Learning Program</a></li>
                <li><a href="rawfoodeducator.html">Raw Food Educator Program</a></li>
              </ul>
            </li>
          </ul>

 
  {% include social.html %}

        </div>
      </div>
    </div>

{% include banner.html %}


<div class="container">
  <div class="row">
    <div class="col-sm-12">

<h1>Distance Learning Program</h1></strong></h3>

    </div>
  </div>
</div>
    <div class="headline-yellow">
      <div class="container">
        <div class="row"><br>
          <div class="col-sm-12 center"><h2>All the core classes from our award winning Immersion Program in a convenient online course.
        </h2><br>
          </div>
        </div>
      </div>
    </div>



  <div class="container">
    <div class="row">
      <div class="col-sm-8">



        <h3>The Distance Learning Program consists of:</h3>

<br>
        <ul class="lead">
             <li><strong>Eight Class Modules </strong>Covering every topic in raw food nutrition.</li>
             <li><strong>Over 10 hours of Audio Lectures </strong>Listen anywhere, anytime.  </li>
              <li><strong>Diet and Lifestyle Changes</strong> Improve your health.  </li>
              <li><strong>Dozens of Raw Food Recipes</strong> Learn to cook delicious raw food dishes. </li>
             <li><strong>Handouts and Exercises</strong> to accompany each lecture.  Learn by doing.</li>
             <li><strong>Certificate of Completion</strong> from The Raw Food Institute acknowledging your raw food training.</li>

        </ul>
      </div>

     
      <div class="col-sm-4"><br>
        <img class="thumbnail" src="img/lisan.jpg">
        <h2>Lisa Wilson</h2>
        <h3><span class="text-muted">Founder of The Raw Food Institute</span></h3>
      </div>
    </div>
  </div>

<div class="headline-carrot">
<div class="container">
  <div class="row">
    <div class="col-sm-12">




<h3>Lecture Topics Include:</h3>


<ul class="lead">
  
<li><i class="fa fa-check-square-o"></i> Food as medicine</li>
<li><i class="fa fa-check-square-o"></i> Green juices and green smoothie how to's</li>
<li><i class="fa fa-check-square-o"></i> How to grow medicinal foods at home</li>
<li><i class="fa fa-check-square-o"></i> Wheatgrass</li>
<li><i class="fa fa-check-square-o"></i> Sprouts and living foods</li>
<li><i class="fa fa-check-square-o"></i> Superfoods</li>
<li><i class="fa fa-check-square-o"></i> Digestive wellness</li>
<li><i class="fa fa-check-square-o"></i> The power of enzymes and living foods</li>
<li><i class="fa fa-check-square-o"></i> Hands-on food preparation</li>
<li><i class="fa fa-check-square-o"></i> Gourmet raw food preparations</li>
<li><i class="fa fa-check-square-o"></i> Dehydrating</li>
<li><i class="fa fa-check-square-o"></i> Food combining</li>
<li><i class="fa fa-check-square-o"></i> Seasonal Eating</li>
<li><i class="fa fa-check-square-o"></i> Raw food snacks and desserts</li>
<li><i class="fa fa-check-square-o"></i> Advanced detoxification techniques</li>
<li><i class="fa fa-check-square-o"></i> Eliminate toxins</li>
<li><i class="fa fa-check-square-o"></i> Environmental detoxification</li>
<li><i class="fa fa-check-square-o"></i> Whole food supplements</li>
<li><i class="fa fa-check-square-o"></i> Protecting your immune system and preventing serious disease</li>
<li><i class="fa fa-check-square-o"></i> Hormone health</li>
<li><i class="fa fa-check-square-o"></i> Energy work</li>
<li><i class="fa fa-check-square-o"></i> Removing heavy metals</li>
<li><i class="fa fa-check-square-o"></i> Breathing and meditation</li>
<li><i class="fa fa-check-square-o"></i> Movement and exercise and MUCH more!</li></p>
      </div>

</ul>

    </div>
  </div>
</div>
  </div>

<br>
<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
     <img src="img/juice.jpg" class="thumbnail">
          <h3>Green Juice</h3>
          <p>Learn a medicinal raw program based on the Ann Wigmore protocol.  Repair cells and detox your body.  Learn to make green juice and wheatgrass drinks at home.  </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <img src="img/meal.jpg" class="thumbnail">
          <h3>Gourmet Raw Meals</h3>
          <p>How to shop, equipment training and recipes teach you to cook delicious raw meals at home.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <img src="img/edibles.jpg" class="thumbnail">
          <h3>Advanced Training</h3>
          <p>Classes like Wild Edibles and Herbs will deepen your knowledge and understanding.  Take your raw food lifestyle to the next level.</p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>
<div class="headline-yellow">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center"><br>

<h2><strong>Heal and rejuvenate. Press your restart button. Lose weight. Feel and look years younger. Treat yourself to the life you deserve.</h2>
<br>
        </div>
      </div>
    </div>
  </div>



  


<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
     <span class="icon-computer"><i class="fa fa-laptop fa-6"></i></span>
          <h3>Online Training</h3>
          <p>Self paced and convenient, accessible 24/7 from anywhere.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-headphones"><i class="fa fa-headphones fa-6"></i></span>
          <h3>Audio Lectures</h3>
          <p>Quality lectures packed with the same information we teach in our award winning Immersion Program. </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-paper"><i class="fa fa-file-text-o fa-6"></i></span>
          <h3>Documents and Handouts</h3>
          <p>Supporting documents and quick reference information organized for you to download. </p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>


<div class="headline-carrot">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center"><br>

<h2><strong>Having empowering information that puts you in control of your health is the most valuable investment you can make.</h2>
<br>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1>Comprehensive</h1>

<h3>Learn everything you need to live a raw food lifestyle. On your own schedule, from the convenience of your home.</h3>
<p class="lead"> <strong>Registration is $600.</strong> <font color="e67e22">Register today for immediate enrollment.</p></font>
<blockquote>
<small>Although the Distance Learning Program provides comprehensive education in raw food, if at all possible, we recommend attending an Immersion Program.  We believe the supportive environment and dedicated time you will experience during the Immersion Program is the best way to detox and learn the raw food lifestyle. </small>


    </div>
  </div>
</div>

<div class="headline-yellow">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center"><br>

<h5><strong>Ready to sign up?</strong>  <a href="http://therawfoodinstitute.foxycart.com/cart?name=Distance Learning Program&cart=checkout&category=DL&price=600.00&empty=true" class="btn btn-default btn-outline btn-lg" role="button">Register</a></h5>
<br>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-10 font-yellow">
        <h1>Questions?<span class="muted"> Contact us!</h1>

{% include contact.html %}
{% include distancelearningcontactform.html %}

    </div>
  </div>
</div>

