---
layout: default
title: The Raw Food Institute
description: Are you ready to feel amazing with the raw food lifestyle?
---


{% include banner.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">

          <h1>Healthier, happier living through a plant based, raw food diet <br></h1><p class="lead">  <span class="text-muted"> Eating a raw food diet, or incorporating more raw foods can help you detoxify, energize and rejuvenate. Many experience significant weight loss and other dramatic health improvements. Getting started with raw food can be challenging, especially if you are in a health crisis. We want to help. We offer online resources including <a href ="http://therawfoodinstitute.com/recipes.html" target="_blank">recipes</a> and <a href ="http://therawfoodinstitute.com/lifestyle.html" target="_blank">lifestyle tips</a>, <a href="http://therawfoodinstitute.com/distancelearning.html" target="_blank">online training courses</a> and <a href="http://therawfoodinstitute.com/rawfoodeducator.html" target="_blank">certification programs</a> as well as live, 7 day <a href="http://therawfoodinstitute.com/immersion.html" target="_blank">Immersion Retreats. </a></span></p>
  
          </div>
          <div class="col=sm-4"><br>
    {% include signup.html %}


          </div>
        </div>
      </div>
  {% include carousel.html %}




  
  <div class="container" id="programs">
    <div class="row">
      <div class="col-sm-4">
     
          <h3>Live Immersion</h3>
          <p>Green Juice, gourmet raw meals, classes and inspirational activities.  A fully immersive 7 day experience designed to give you the support and knowledge you need to live a raw food lifestyle.</p>
          <p><a href="immersion.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
          <h3>Distance Learning</h3>
          <p>Comprehensive online training including lectures, handouts and exams. The perfect option for the self-guided learner.</p>
          <p><a href ="distancelearning.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
          <h3>Educator Program</h3>
          <p>Get certified to teach raw food classes.  Get all the knowledge and tools you need to become a raw food educator.</p>
          <p><a href="rawfoodeducator.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

<br>

          
<div class="headline-blue">
    <div class="container">
      <div class="row">
        <div class="headline-box-blue">
        <div class="col-sm-7"><br>





  
<h2>It's never too early to make your New Year's Resolution.</h2>

<p class="lead">The New Year is just around the corner, and our January Live Immersion Retreat is filling up fast.  Commit yourself to starting 2015 off with a focus on your health and join Lisa Wilson and her special guest for a transformative, life-changing week at The Raw Food Institute.  Start your journey of health with this powerful program and get the knowledge and support you need to make 2015 the year you achieve your health goals. <strong>Register in the month of November and save $350 off the cost of attending!!!</p>
<a href="/immersion.html" class="btn btn-lg btn-outline" role="button">Learn More</a>

</div>
<div class="col-sm-5"><br><br><img src="/img/IMG_7701.jpg" class="img-responsive">

        </div>
      </div>
    </div>
  </div>
 
</div>
<div class="headline-carrot">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
{% include ebookad.html %}
        </div>
      </div>
    </div>
  </div>
    <div class="container" id="events">
      <div class="row">
        <div class="col-sm-4">
     
          {% include events.html %}
        </div>

        <div class="col-sm-2 text-center">
        <a href="http://www.integrativenutrition.com/" target="_blank"><img src="img/iin.jpg">
    </div>
    <div class="col-sm-2 text-center">
    <a href="http://www.bestofrawfoods.com/" target="_blank"><img src="img/bor.jpg">
    </div>
    <div class="col-sm-2 text-center">
    <a href="http://www.nihadc.com/" target="_blank"><img src="img/niha.jpg">

   </div>
        <div class="col-sm-2">
     <br>
          {% include retreatnetwork.html %}
        </div>
      </div>
    </div>
 
</div>

 




     





 
