---
layout: default
title: The Raw Food Institute
description: Are you ready to feel amazing with the raw food lifestyle?
---


{% include banner.html %}
  
<div class="container">
  <div class="row">
    <div class="col-sm-8">

          <h1>Healthier, happier living through a plant based, raw food diet <br></h1><p class="lead">  <span class="text-muted"> Eating a raw food diet, or incorporating more raw foods can help you detoxify, energize and rejuvenate. Many experience significant weight loss and other dramatic health improvements. Getting started with raw food can be challenging, especially if you are in a health crisis. We want to help. We offer online resources including <a href ="http://therawfoodinstitute.com/blog.html" target="_blank">recipes and how-to's</a>, <a href="http://therawfoodinstitute.com/distancelearning.html" target="_blank">online training courses</a> and <a href="http://therawfoodinstitute.com/rawfoodeducator.html" target="_blank">certification programs</a> as well as live, 7 day <a href="http://therawfoodinstitute.com/immersion.html" target="_blank">Immersion Retreats. </a></span></p>

          </div>
          <div class="col=sm-4"><br>
    {% include signup.html %}
          </div>
        </div>
      </div>
  {% include carousel.html %}


  

  
  <div class="container" id="programs">
    <div class="row">
      <div class="col-sm-4">
     
          <h3>Live Immersion</h3>
          <p>Green Juice, gourmet raw meals, classes and inspirational activities.  A fully immersive 7 day experience designed to give you the support and knowledge you need to live a raw food lifestyle.</p>
          <p><a href="immersion.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
          <h3>Distance Learning</h3>
          <p>Comprehensive online training including lectures, handouts and exams. The perfect option for the self-guided learner.</p>
          <p><a href ="distancelearning.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
          <h3>Educator Program</h3>
          <p>Get certified to teach raw food classes.  Get all the knowledge and tools you need to become a raw food educator.</p>
          <p><a href="rawfoodeducator.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

<br>

          
<div class="headline-blue">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><br>

<div class="headline-box-blue">

   <h2>Award Winning 7-Day Live Immersion Detox Retreats<br></h2><p class="lead"> Do you want to love your body more and enhance your well-being and energy? At our Immersion Retreats, participants detoxify, energize and rejuvenate <font color="#e73692">mind, body and spirit</font> while getting world-class raw food training — and many experience dramatic health improvements.
Are YOU ready to live your best life?</span></p>

<a 
href="/immersion.html" class="btn btn-lg btn-outline" role="button">Learn More</a>

</div>


        </div>
      </div>
    </div>
  </div>
 
<div class="headline-carrot">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
{% include ebookad.html %}
        </div>
      </div>
    </div>
  </div>
    <div class="container" id="events">
      <div class="row">
        <div class="col-sm-4">
     
          {% include events.html %}
        </div>

        <div class="col-sm-2 text-center">
        <a href="http://www.integrativenutrition.com/" target="_blank"><img src="img/iin.jpg">
    </div>
    <div class="col-sm-2 text-center">
    <a href="http://www.bestofrawfoods.com/" target="_blank"><img src="img/bor.jpg">
    </div>
    <div class="col-sm-2 text-center">
    <a href="http://www.nihadc.com/" target="_blank"><img src="img/niha.jpg">

   </div>
        <div class="col-sm-2">
     <br>
          {% include retreatnetwork.html %}
        </div>
      </div>
    </div>
 
</div>

 




     





 
