---
layout: default
title: The Raw Food Institute
---
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="whyraw.html">Raw + Detox</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li><a href="immersion.html">Live Immersion Program</a></li>
                <li><a href="distancelearning.html">Distance Learning Program</a></li>
                <li><a href="rawfoodeducator.html">Raw Food Educator Program</a></li>
              </ul>
            </li>
          </ul>

          

        {% include social.html %}

        </div>
      </div>
    </div>

{% include banner.html %}
   

<div class="container">
  <div class="row">
    <div class="col-sm-12">
     
          <h6>Achieve your fullest life potential. <span class="text-muted"> <br>Live Immersion, Distance Learning and Raw Food Educator programs.</span></h6>
   
   

          </div>
        </div>
      </div>
<hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-8">
              <h1>Founded by Lisa Wilson.<span class="text-muted"> Award winning, certified health and wellness counselor.</h1>
              </div>
              <div class="col-sm-4">
              <img class="img-thumbnail" src="img/lisan.jpg"></a>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <img class="img-space" src="img/borc.jpg"></a>
              </div>
              <div class="col-sm-8"><br>
              <h1>2013 Winner<span class="text-muted"> 1-Best Raw-Vegan Retreat Center. 2-Medical Awareness for Raw Food Award</h1>
              </div>
            </div>
          </div>
          
          {% include signup.html %}

        </div>

      </div>

  <div class="headline-yellow">
    <div class="container">
      <div class="row">
     
        <div class="col-sm-12">
{% include scholarshipad.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="programs">
    <div class="row">
      <div class="col-sm-4">
     
          <h2>Live Immersion</h2>
          <p>Green Juice, gourmet raw meals, classes and inspirational activities.  A fully immersive 7 day experience designed to give you the support and knowledge you need to live a raw food lifestyle.</p>
          <p><a href="immersion.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
          <h2>Distance Learning</h2>
          <p>Comprehensive online training including lectures, handouts and exams. The perfect option for the self-guided learner.</p>
          <p><a href ="distancelearning.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
          <h2>Educator Program</h2>
          <p>Get certified to teach raw food classess.  Get all the knowledge and tools you need to become a raw food educator.</p>
          <p><a href="rawfoodeducator.html" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>


 




     





 
