---
layout: default
title: Raw Food Educator
description: Become a Certified Raw Food Educator!
categories: programs
---

{% include banner.html %}


    <div class="headline-carrot">
      <div class="container">
        <div class="row"><br>
          <div class="col-sm-8"><h1>Become a Certified Raw Food Educator (CRFE) and learn the tools you need to successfully and confidently coach your clients in raw food nutrition, detoxification, and healing.
        </h1> <br><p class="lead">
This amazing 12 week program combines online courses and modules with weekly group coaching calls to give you all the knowledge, and support you need to help you develop your CRFE business to the level you dream of. Take part in this cutting edge program, only available at The Raw Food Institute! Read on for all the details.  BTW, this program gets over-the-moon RAVE reviews!  Mmhm--we're proud of this one!  </p><p class="lead"> You won't find this anywhere else.  


      </p>
      <h2>The next class starts February, 2015. Enroll today!</h2><br>
    </div>
          <div class="col-sm-4">

    <img src="/img/CRFEO.jpg">

  
    </div>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

<h3>As a Certified Raw Food Educator (CRFE) you will be able to:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"> 
      <ul class="lead">
        <li><i class="fa fa-check-square-o"></i> Counsel individuals on adopting a healing raw food diet</li>
        <li><i class="fa fa-check-square-o"></i> Help people on their personal healing journey with raw foods</li>
        <li><i class="fa fa-check-square-o"></i> Write articles, books, and other literature on raw food nutrition</li>
        <li><i class="fa fa-check-square-o"></i> Teach raw foods “un-cooking” classes</li>
        <li><i class="fa fa-check-square-o"></i> Hold group classes on the powers of raw foods</li>
        <li><i class="fa fa-check-square-o"></i> Confidently do one-to-one raw food coaching</li>




      </ul>
 

      </small>
    </div>
  
  </div>
</div>


<br>
<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <span class="icon-key"><i class="fa fa-key fa-6"></i></span>
          <h3>Turnkey Opportunity</h3>
          <p>Everything you need to get started as a Raw Food Educator right down to our done-for-you powerpoint presentations, so you can get right to work on building your business.  Are you as excited about this one, as we are?! </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">     
        <span class="icon-heart"><i class="fa fa-heart-o fa-6"></i></span>
          <h3>Heart Based</h3>
          <p>Learn to build an authentic and compassionate business through engaging your heart and spirit.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-chart"><i class="fa fa-bar-chart-o fa-6"></i></span>
          <h3>Business Training</h3>
          <p>Learn the nuts and bolts of operating a business through specific examples and step by step support.</p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>

<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">




<h3>The Raw Food Educator Program consists of:</h3>


<ul class="lead">
    <li><i class="fa fa-check-square-o"></i> <strong>Five 45 minute </strong>Online Lectures</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Handouts and Exercises</strong> to accompany each lecture</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Final exam</strong> required for completion of the program</li>
        <li><i class="fa fa-check-square-o"></i> <strong> 12 Weekly Business Success Calls</strong> for step-by-step guidance</li>

</strong>
  
    </div>
  </div>
</div>
</div>
   
</ul>
<div class="headline-green">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
   <h3>What you get</h3>
 <ul class="lead"><li><i class="fa fa-check-square-o"></i> <strong>11 PowerPoint Presentations</strong> created FOR YOU so that you can teach group classes and clients</li>
      <li><i class="fa fa-check-square-o"></i> <strong>Your own CRFE webpage</li>
        <li><i class="fa fa-check-square-o"></i>   Eligible to attend our world class Advanced Training Workshops, exclusive to our RFE's!  Talk about a mastermind, success training group!  </li>
         <li><i class="fa fa-check-square-o"></i>   Sell RFI Products and Services</li>
        <li><i class="fa fa-check-square-o"></i>  RFI Assigned clients to coach!!</li>
          <li><i class="fa fa-check-square-o"></i>  Our amazing Coaching Template</li>
            <li><i class="fa fa-check-square-o"></i> <strong>Certificate of Completion</strong> from The Raw Food Institute on becoming a Raw Food Educator</li></ul></strong>

    </div>
  </div>
</div>
  </div>
  


<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
     <span class="icon-computer"><i class="fa fa-laptop fa-6"></i></span>
          <h3>Online Training</h3>
          <p>Self paced and convenient, accessible 24/7 from anywhere.  PJ's welcome!  ;)
</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-headphones"><i class="fa fa-headphones fa-6"></i></span>
          <h3>Audio Lectures</h3>
          <p>Busy?  We've got a solution for that.  Quality lectures packed with information-on the go!
 </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-paper"><i class="fa fa-file-text-o fa-6"></i></span>
          <h3>Documents and Handouts</h3>
          <p>Supporting documents and audience ready presentations you can use to teach.  (Pinch me, really??)  Done for me presentations?  We think this is worth the cost of the program alone!  All for YOU!</p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>


<div class="headline-carrot">
<div class="container">
  <div class="row">
    <div class="col-sm-12">




<h2>Online class topics</h2>


<ul class="lead">
    <li><i class="fa fa-check-square-o"></i> <strong>Working With Clients</strong> Meeting the client where they're at, walking the walk, dealing with illness and loving what you do.</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Finding Your Niche Where can raw foods take you? Adding skills to what you already do / coaching 1 to 1 / group success teaching.</strong> How to be an educator and working with healing groups.</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Organizing Your Raw Food Business</strong> Do you need to incorporate? How to handle finances, organizing your office and client folders, staying motivated, setting goals and making your vision a reality. Say YES to your success!</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Developing a Client's Raw Food Program</strong> How to group the Raw Food Institute protocol into a well organized learning structure for your clients, group classes, or those you will be working with.</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Marketing, Gathering Clients, How to Close (tastefully)  and What to Charge</strong> Developing the right language around health and sales, good marketing tools and solid strategies to make sure your investment pays off.</li>
  </ul>

    </div>
  </div>
</div>
  </div>


<div class="headline-green">
<div class="container">
  <div class="row">
    <div class="col-sm-12">



<h2>What you will learn during the weekly calls</h2>
<ul class="lead">
     <li><i class="fa fa-check-square-o"></i>How to use our template for consistent nutritional coaching</li>

 <li><i class="fa fa-check-square-o"></i>Successful client intake and expectations</li>

 <li><i class="fa fa-check-square-o"></i>How to work with your client’s physician</li>

 <li><i class="fa fa-check-square-o"></i>The difference between coaching, consulting and teaching</li>

 <li><i class="fa fa-check-square-o"></i>How to build a business rather than a hobby – knowing your numbers</li>

 <li><i class="fa fa-check-square-o"></i>How to build your business with clients you love working with</li>

 <li><i class="fa fa-check-square-o"></i>Successful basic networking to build your client base</li>

 <li><i class="fa fa-check-square-o"></i>Successful advanced networking</li>

 <li><i class="fa fa-check-square-o"></i>Successful marketing</li>

 <li><i class="fa fa-check-square-o"></i>How to create SMART goals</li>
</ul>




 

</p>
   

</ul>

</div>

</div>

<br><br>
</div>

          </div>
      </div>
    </div>
  </div>
    </div>



<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1>All Inclusive<h1>
</h1>
<h3>Everything you need to become a Raw Food Educator.</h3>
<h1> <font color="7ebe12">Hurry, the next class starts February, 2014. Enroll today!</font></h1>

<p class="lead"> <strong>Registration is only $997.</strong></p>
<blockquote>
<small>Attending the Immersion Program is a required prerequisite.</small>
<small>The Immersion Program is not included in the registration fee.</small></blockquote>
<h5><strong>Ready to sign up?</strong> <a href="http://secure.therawfoodinstitute.com/cart?name=Raw Food Educator Program&cart=checkout&category=RFE&price=997.00&empty=true" class="btn btn-default btn-danger-2" role="button">Register</a></h5>
    </div>
  </div>
</div>
<div class="headline-yellow"><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">

      <span class="icon-exclamation"><i class="fa fa-exclamation-circle fa-5"></i></span>


       
        </div>
      <div class="col-sm-10">
       <h3>Attending the Immersion Program is a required prerequisite for enrolling in the Raw Food Educator program.</h3>
        <p class="lead">Want to learn more about the Immersion Program? <a href="immersion.html"><button type="button" class="btn btn-lg btn-outline">Learn More</button></a> </p>
      </div>
    </div>
  </div>
</div>


  <div class="container">
  <div class="row">
    <div class="col-sm-10 font-carrot">
        <h1>Questions?<span class="muted"> Contact us!</h1>

{% include contact.html %}
{% include rawfoodeducatorcontactform.html %}

    </div>
  </div>
</div>

