---
layout: default
title: Raw Food Educator
description: Become a Certified Raw Food Educator!
categories: programs
---

{% include banner.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

<h1>Raw Food Educator Program</h1></strong></h3>

    </div>
  </div>
</div>
    <div class="headline-carrot">
      <div class="container">
        <div class="row"><br>
          <div class="col-sm-12 center"><h2>Become a Certified Raw Food Educator (RFE) and learn the tools you need to successfully and confidently coach your clients in raw food nutrition, detox, and healing.
        </h2><br>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h3>As a Certified Raw Food Educator (RFE) you will be able to:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"> 
      <ul class="lead">
        <li><i class="fa fa-check-square-o"></i> Counsel individuals on adopting a healing raw food diet</li>
        <li><i class="fa fa-check-square-o"></i> Help people on their personal healing journey with raw foods</li>
        <li><i class="fa fa-check-square-o"></i> Write articles, books, magazine articles and other literature on raw food nutrition</li>
        <li><i class="fa fa-check-square-o"></i> Teach raw foods “un-cooking” classes</li>
        <li><i class="fa fa-check-square-o"></i> Hold group classes on the powers of raw foods</li>
        <li><i class="fa fa-check-square-o"></i> Go into people’s homes for one-to-one raw food coaching</li>

      </ul>
 

      </small>
    </div>
    <div class="col-sm-4">

    <img src="/img/crfe.jpg">

  
    </div>
  </div>
</div>


<br>
<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <span class="icon-key"><i class="fa fa-key fa-6"></i></span>
          <h3>Turnkey Opportunity</h3>
          <p>Everything you need to get started as a Raw Food Educator. </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">     
        <span class="icon-heart"><i class="fa fa-heart-o fa-6"></i></span>
          <h3>Heart Based</h3>
          <p>Learn to build an authentic and compassionate business through engaging your heart and spirit.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-chart"><i class="fa fa-bar-chart-o fa-6"></i></span>
          <h3>Business Training</h3>
          <p>Learn the nuts and bolts of operating a business through specific examples.</p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>

<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">




<h3>The Raw Food Educator Program consists of:</h3>


<ul class="lead">
    <li><i class="fa fa-check-square-o"></i> <strong>Five 45 minute </strong>Online Lectures</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Handouts and Exercises</strong> to accompany each lecture</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Final exam</strong> required for completion of the program</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Certificate of Completion</strong> from The Raw Food Institute on becoming a Raw Food Educator</li>
    <li><i class="fa fa-check-square-o"></i> <strong>11 PowerPoint Presentations</strong> created FOR YOU so that you can teach group classes and clients</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Listing in our RFE Directory</strong> for people seeking RFEs</li>
</ul>

    </div>
  </div>
</div>
  </div>
  


<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
     <span class="icon-computer"><i class="fa fa-laptop fa-6"></i></span>
          <h3>Online Training</h3>
          <p>Self paced and convenient, accessible 24/7 from anywhere.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-headphones"><i class="fa fa-headphones fa-6"></i></span>
          <h3>Audio Lectures</h3>
          <p>Quality lectures packed with information. </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <span class="icon-paper"><i class="fa fa-file-text-o fa-6"></i></span>
          <h3>Documents and Handouts</h3>
          <p>Supporting documents and audience ready presentations you can use to teach.</p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>


<div class="headline-carrot">
<div class="container">
  <div class="row">
    <div class="col-sm-12">




<h3>Lecture Topics Include:</h3>


<ul class="lead">
    <li><i class="fa fa-check-square-o"></i> <strong>Working With Clients</strong> Meeting the client where they're at, walking the walk, how to deal with illness and loving what you do.</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Finding Your Niche</strong> Where can raw foods take you? How to be an educator and working with healing groups.</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Organizing Your Raw Food Business</strong> Do you need to incorporate? How to handle finances, organizing your office and client folders, staying motivated, setting goals and making your vision a reality.</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Developing a Client's Raw Food Program</strong> How to group the Raw Food Institute protocol into a well organized learning structure for your clients, group classes, or those you will be working with.</li>
    <li><i class="fa fa-check-square-o"></i> <strong>Marketing, Gathering Clients, How to Close and What to Charge</strong> Developing the right language around healing and sales, good marketing tools and strategies to make sure your investment pays off.</li>
</ul>

    </div>
  </div>
</div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1>All Inclusive</h1>

<h3>Everything you need to become a Raw Food Educator.</h3>
<p class="lead"> <strong>Registration is only $997.</strong> <font color="e67e22">Register today for immediate enrollment.</p></font>
<blockquote>
<small>Attending the Immersion Program is a required prerequisite.</small>
<small>The Immersion Program is not included in the registration fee.</small>
<small>A very limited number of scholarships are available each year.  If you want to apply please call us.</small>
<small>Payment plans are available.  To learn more about payment options, please call us.</small></blockquote>

    </div>
  </div>
</div>
<div class="headline-yellow">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">

      <span class="icon-exclamation"><i class="fa fa-exclamation-circle fa-5"></i></span>


       
        </div>
      <div class="col-sm-10">
       <h3>Attending the Immersion Program is a required prerequisite for enrolling in the Raw Food Educator program.</h3>
        <p class="lead">Want to learn more about the Immersion Program? <a href="immersion.html"><button type="button" class="btn btn-lg btn-outline">Learn More</button></a> </p>
      </div>
    </div>
  </div>
</div>
<div class="headline-carrot">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center"><br>

<h5><strong>Ready to sign up?</strong> <a href="http://secure.therawfoodinstitute.com/cart?name=Raw Food Educator Program&cart=checkout&category=RFE&price=997.00&empty=true" class="btn btn-default btn-outline btn-lg" role="button">Register</a></h5>
<br>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-10 font-carrot">
        <h1>Questions?<span class="muted"> Contact us!</h1>

{% include contact.html %}
{% include rawfoodeducatorcontactform.html %}

    </div>
  </div>
</div>

