---
layout: default
title: Retreat
---
<!-- NAVBAR
================================================== -->


          <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="whyraw.html">Raw + Detox</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="shop.html">Shop</a></li>
             <li><a href="contact.html">Contact</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li><a href="immersion.html">Live Immersion Program</a></li>
                <li><a href="distancelearning.html">Distance Learning Program</a></li>
                <li><a href="rawfoodeducator.html">Raw Food Educator Program</a></li>
              </ul>
            </li>
          </ul>

 


      {% include social.html %}


        </div>
      </div>
    </div>


 {% include banner.html %}



<div class="container">
  <div class="row">
    <div class="col-sm-12">
       
<h6>Weekend Day Retreat  </h1></h6></strong>

    </div>
  </div>
</div>
    <div class="headline-green">
      <div class="container">
        <div class="row"><br>
          <div class="col-sm-12 center"><h1>Cutting edge health information, raw foods training, supported raw food detoxification, advanced healing and health techniques and more.  All the core classes from our award winning Live Immersion Program in three transformative days.</h1><br>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
      <div class="col-sm-8"> 
         <h3>This life changing program includes:</h3>
        <ul class="lead">
        <li><i class="fa fa-check-square-o"></i> Instruction by <strong>Lisa Wilson</strong></li>
        <li><i class="fa fa-check-square-o"></i> Daily lunch and green juice</li>
        <li><i class="fa fa-check-square-o"></i> Health and nutrition lectures from leading raw food educators</li>
        <li><i class="fa fa-check-square-o"></i> Advanced healing and preventative tools</li>
        <li><i class="fa fa-check-square-o"></i> Hands-on cooking workshops</li>
        <li><i class="fa fa-check-square-o"></i> Hands-on workshops in raw food sprouting, juicing, equipment, dehydration, etc.</li>
        <li><i class="fa fa-check-square-o"></i> A three day raw foods detox with medicinal raw and living foods</li>
  

        </ul>


      </div>
      <div class="col-sm-4"><br>
        <img class="thumbnail" src="img/lisan.jpg">
        <h1>Lisa Wilson</h1>
        <h3><span class="text-muted">Founder of The Raw Food Institute</span></h3>
      </div>
    </div>
  </div>
</div>
<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12"><br>
<h3>Come join us for our next three day retreat at <a href="http://www.simsburyinn.com/" target="_blank">somewheree</a> in Washington, DC. </h3><br>
    </div>
  </div>
</div>
</div>



 

<br>
<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
     <img src="img/juice.jpg" class="thumbnail">
          <h2>Green Juice</h2>
          <p>Medicinal raw program based on the Ann Wigmore protocol.  Repair cells and detox your body.  Green juice will be provided throughout the weekend.  </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <img src="img/gourmetmeal.jpg" class="thumbnail">
          <h2>Gourmet Raw Meals</h2>
          <p>Delicious, healthy raw meals are included. Cooking classes, how to shop, equipment training and recipes will show you how to do it at home.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <img src="img/edibles.jpg" class="thumbnail">
          <h2>Advanced Training</h2>
          <p>Classes like Wild Edibles and Herbs will deepen your knowledge and understanding. Take your raw food lifestyle to the next level.</p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>

<div class="program-details">
<div class="container">
  <div class="row">
    <div class="col-sm-12">




<h3>Classes and activities 7:30am-6:00pm daily.</h3>

<p class="lead">Day 1 Arrive on Sunday afternoon, orientation, introductions and green juice cocktails</p>
<p class="lead">Day 2-6 example:</p>
<ul>
<li>7:30am-8:30am: <strong>Light exercise (Walking, Calisthenics,Yoga or Qigong)</strong></li>
<li>8:30am-9:00am: <strong>FRESH Wheatgrass Juice!</strong></li>
<li>9:00am-9:30: <strong>Morning Juice served</strong></li>
<li>9:30am-10:30: <strong>Food preparation demonstration</strong></li>
<li>10:30am: <strong>Mid morning GREEN juice served</strong></li>
<li>10:30-12:30pm: <strong>Morning Lectures and Workshops</strong></li>
<li>12:30-1:30pm: <strong>Lunch</strong></li>
<li>1:30-5:00pm: <strong>Afternoon Lectures and Workshops</strong></li>
<li>4:00pm: <strong>Afternoon GREEN juice served</strong></li>
<li>5:00-6:00pm: <strong>Dinner</strong></li>
<li>6:00pm-7:00pm:  <strong>Activity or a Movie</strong></li>
</ul>

<p class="lead">Day 7 Morning classes, lunch and Depart on Saturday Afternoon</p>
    </div>
  </div>
</div>
  </div>


<div class="live-amenities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
     <img src="img/yoga.jpg" class="thumbnail">
          <h2>Energizing Activites</h2>
          <p>Yoga, qi gong, auricular therapy and more. Activate your body and mind.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <img src="img/sharedroom.jpg" class="thumbnail">
          <h2>Luxe Accomodations</h2>
          <p>The Raw Food Institute Live Immersion Program takes place at the beautiful Simsbury Inn.  </p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <img src="img/soqi.jpg" class="thumbnail">
          <h2>Rejuvenating Treatments</h2>
          <p>Detox Sauna and Soqi bed treatment included. Massage, auricular therapy and reflexology available for an additional fee.</p>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div>
</div>

<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Class Topics Include:</h3>
    </div>
  </div>
</div>
</div>

<div class="headline-yellow">
<div class="container">
  <div class="row">
    <div class="col-sm-12">







<ul class="lead">
  
<li><i class="fa fa-check-square-o"></i> Food as medicine</li>
<li><i class="fa fa-check-square-o"></i> Green juices and green smoothie how-to's</li>
<li><i class="fa fa-check-square-o"></i> How to grow medicinal foods at home</li>
<li><i class="fa fa-check-square-o"></i> Wheatgrass</li>
<li><i class="fa fa-check-square-o"></i> Sprouts and living foods</li>
<li><i class="fa fa-check-square-o"></i> Superfoods</li>
<li><i class="fa fa-check-square-o"></i> Digestive wellness</li>
<li><i class="fa fa-check-square-o"></i> The power of enzymes and living foods</li>
<li><i class="fa fa-check-square-o"></i> Hands-on food preparation</li>
<li><i class="fa fa-check-square-o"></i> Gourmet raw food preparations</li>
<li><i class="fa fa-check-square-o"></i> Dehydrating</li>
<li><i class="fa fa-check-square-o"></i> Food combining</li>
<li><i class="fa fa-check-square-o"></i> Seasonal Eating</li>
<li><i class="fa fa-check-square-o"></i> Raw food snacks and desserts</li>
<li><i class="fa fa-check-square-o"></i> Advanced detoxification techniques</li>
<li><i class="fa fa-check-square-o"></i> Eliminate toxins</li>
<li><i class="fa fa-check-square-o"></i> Environmental detoxification</li>
<li><i class="fa fa-check-square-o"></i> Whole food supplements</li>
<li><i class="fa fa-check-square-o"></i> Protecting your immune system</li>
<li><i class="fa fa-check-square-o"></i> Preventing serious disease</li>
<li><i class="fa fa-check-square-o"></i> Hormone health</li>
<li><i class="fa fa-check-square-o"></i> Energy work</li>
<li><i class="fa fa-check-square-o"></i> Removing heavy metals</li>
<li><i class="fa fa-check-square-o"></i> Breathing and meditation</li>
<li><i class="fa fa-check-square-o"></i> Movement and exercise</li>
<li><i class="fa fa-check-square-o"></i> MUCH more!</li></p>
   

</ul>
   </div>

    </div>
  </div>
</div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h6>All Inclusive</h6>

<h3>Shared accomodations at the beautiful <a href="http://www.thesimsburyinn.com/">Simsbury Inn</a>, classes, juice, meals, education materials, airport shuttle from Hartford International and detoxification needs are all included in the one week program.</h3>
<p class="lead"> <strong>Early Registration price $2497</strong> <font color="e67e22">Register today for our January 2014 program to take advantage of our discounted early registration price.</p></font>
<blockquote>
<small>Private rooms are available for an additional $445.</small>
<small>Commuters price is reduced by $445.</small>
<small>Bring a friend and save $1000 when you book and pay together.</small>
<small>A very limited number of scholarships are available each year.  If you want to apply please call us.</small>
<small>Payment plans are available.  To learn more about payment options, please call us.</small></blockquote>



<p class="lead"><strong>Next Live Immersion Program in Simsbury, CT</strong> January 5-11, 2014  
     <form action="https://therawfoodinstitute.foxycart.com/cart?&cart=checkout&empty=true" method="post">
  <input type="hidden" name="name" value="Live Immersion Program January 2014" />
  <input type="hidden" name="price" value="2497.00" />
   <input type="hidden" name="category" value="IMSN" />
To register online, please select one<option></option>
  <select name="type">
    <option value="shared room accomodations">Shared Room</option>
      <option value="commuter price does not include accomodations{p-455.00}">Commuter</option>
    <option value="private room upgrade{p+455.00}">Private Room</option>
    <option value="bringafriend price for two registrations{p+1497.00}">Bring a Friend</option>
  </select> <input type="submit" value="Register" class="btn btn-lg btn-shop"></button>
</form></p></h1>
<br>
        </div>
      </div>
    </div>
  </div>

<div class="headline-yellow">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center"><br>


        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 font-carrot">
        <h6>Questions?<span class="muted"> Contact us!</h6>

{% include contact.html %}

    </div>
  </div>
</div>

<div class="container" id="testimonials">
  <h1>Testimonials</h1>
  <hr>
  <div class="row">
    <div class="col-sm-2"><img src="img/gina.jpg" class="thumbnail">
    </div>
    <div class="col-sm-7"><blockquote><p>The Raw Food Institute changed my life!  I walked away feeling amazing not only physically, but emotionally and mentally as well.  My life is so much more rich because of all the information, insight, and relationships I gained while there. It is the best investment I ever made in myself and my family!  I guarantee you will not regret the investment either!<small><cite title="Source Title">Gina Ledwith</cite></small></p></blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><img src="img/carol.jpg" class="thumbnail">
    </div>
    <div class="col-sm-7"><blockquote><p>The Raw Food Institute is an amazing healing experience. Whether you need to lose weight or have a serious health challenge such as cancer, this is the place to go and heal. You will be forever changed by the education you will receive and you will leave with the tools to be able to take control of your health. The time I spent with Lisa Wilson gave me the knowledge to be able to heal my body from breast cancer without the use of conventional treatments. I strongly encourage you to make the investment in your health and attend the raw food institute.<small><cite title="Source Title">Carol Christoforatos</cite></small></p></blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><img src="img/christi.jpg" class="thumbnail">
    </div>
    <div class="col-sm-7"><blockquote><p>RFI was the best thing I ever did for myself. After studying at the Institute for Integrative Nutrition I really thought I knew how to be healthy and how to teach others to do the same. But what I learned at RFI blew all my many years of nutritive education out of the water. It changed the way my family eats, the way I raise my kids and the way I help others to find their optimal health as well. I believe it to be such a pivotal and influential point in my life that I've encouraged everyone I truly care about to commit to the week away and learn to properly prevent disease and heal themselves for the rest of their life. It’s an unbelievably eye-opening experience!”<small><cite title="Source Title">Christi Flynn</cite></small></p></blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><img src="img/elaine.jpg" class="thumbnail">
    </div>
    <div class="col-sm-7"><blockquote><p>In 2008 I was diagnosed with a recurrence and found myself in Stage IV Non Hodgkin’s Lymphoma! Determined to go a natural educated path an alkaline lifestyle became paramount. Along with alkaline water, alkaline foods were a must. Thank goodness my journey led me to Lisa Wilson and the Raw Food Institute. I enrolled in the 7 Day Immersion and Educator programs in October 2011 and have never looked back. I juice every day and follow a mostly raw diet. Today I am 23 pounds lighter and wearing a size 2/4!! Best thing was that the weight loss was actually a surprise and not my main goal. Getting healthy and living a long life was at the top of my heart. Working with Lisa and the Raw Food Institute has educated and supported me, so today I know what to do and do it with the confidence that I am in control.<small><cite title="Source Title">Elaine Gibson</cite></small></p></blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><img src="img/ian.jpg" class="thumbnail">
    </div>
    <div class="col-sm-7"><blockquote><p>“When the student is ready the teacher will appear” and I am grateful that the journey to regain my health led me to Lisa, and the Raw Food Institute. My 7 day raw food detox can only be described as a remarkable experience. Yes the weight loss is a great bonus, but the real treasure for me was the mental clarity, feeling of lightness, and radiance that was physically noticeable after the 7 days. Dealing with a health crisis can be scary, and the most valuable lesson I learned here at the RFI, is that your body has amazing powers to heal itself when given the chance. Lisa Wilson is a beautiful, intelligent and highly motivated woman on a mission to help heal all who come her way.<small><cite title="Source Title">Ian Scott</cite></small></p></blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><img src="img/peter.jpg" class="thumbnail">
    </div>
    <div class="col-sm-7"><blockquote><p>I am thankful every day that I discovered RFI and Lisa Wilson. Literally, she saved my life and my professional life as an airline pilot. The keys to Type II Diabetes management are a raw food protocol, regular exercise, eliminate caffeine and alcohol, and REM sleep. I rarely set an alarm clock to be certain I’m maximizing my rejuvenation. It really works! I was able to get my A1c from 12.6 to 7.4 in 6 weeks. There is no drug on the planet that can do that. Blessings.<small><cite title="Source Title">Peter Gauthier</cite></small></p></blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"><img src="img/tracey.jpg" class="thumbnail">
    </div>
    <div class="col-sm-7"><blockquote><p>The 7-day raw detox program was amazing! My energy level was tremendous and it proved to me that the power food can change our lives!  I loved learning about sprouts, wheat grass and enjoying all the amazing food. Lisa is authentic, caring and so knowledgeable! I’m recommending it to all my friends!<small><cite title="Source Title">Tracey Osbourne Miller</cite></small></p></blockquote>
    </div>
  </div>