---
layout: default
title: Scholarship
description: The Raw Food Institute scholarship program.
---

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="whyraw.html">Raw + Detox</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="shop.html">Shop</a></li>
             <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li><a href="immersion.html">Live Immersion Program</a></li>
                <li><a href="distancelearning.html">Distance Learning Program</a></li>
                <li><a href="rawfoodeducator.html">Raw Food Educator Program</a></li>
              </ul>
            </li>
          </ul>

 
  {% include social.html %}

        </div>
      </div>
    </div>

{% include banner.html %}


    <div class="container">
      <div class="row">
        <div class="col-lg-10">
        <h1>Sholarships Available</h1><p class="lead">  for the <a href="immersion.html">Live Immersion Program.</a> 

        <style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 0px;  height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/HHEPGNFQU7s?&rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen></iframe></div> <br><br>


           <p>

   
A limited number of scholarships in the amount of $1000 and $650 are available for each immersion program. Please fill in the form below to apply.  Share with us a few paragraphs about your situation and why you think attending The Raw Food Insitute will help.  Please make sure you are available to attend if you are chosen.  Call us anytime if you have a question @ (888) 799-9147</p>

  {% include scholarshipform.html %}
        </div>
      </div>
    </div>



</div>


</div>

