---
layout: default
title: Scholarship
description: The Raw Food Institute scholarship program.
---

   
{% include banner.html %}


    <div class="container">
      <div class="row">
        <div class="col-lg-10">
        <h1>Sholarships Available</h1><p class="lead">  for the <a href="immersion.html">Live Immersion Program.</a> 

        <style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 0px;  height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/HHEPGNFQU7s?&rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen></iframe></div> <br><br>


           <p>

   
A very limited number of scholarships in the amount of $1000 and $650 are available for each Live Immersion Program. These scholarship awards are deducted from the registration price.  Please fill in the form below to apply.  Share with us a few paragraphs about your situation and why you think attending The Raw Food Insitute will help.  Please make sure you are available to attend if you are chosen. We begin awarding scholarsihps about 45 days before each program begins. Call us anytime if you have a question @ (888) 799-9147</p>

  {% include scholarshipform.html %}
        </div>
      </div>
    </div>



</div>


</div>

