---
layout: default
title: Videos
description: Raw Food lifestyle tips, techniques and recipes.
categories: videos
---


{% include banner.html %}

<div class="container">
  <div class="row">
    <div class="col-md-6">

 
      <div class="blog-index">  
    {% for post in site.categories.videos %}
        {% if post.tags contains 'featured' %}
        {% assign content = post.content %}
        {% include post_detail.html %}
    {% endif %}

    {% endfor %}

      </div>
<hr>

    {% include responsivesignup.html %}
     
         <div class="headline-box-yellow">
   
      {% include immersionad.html %}

      </div>
    </div>
      <div class="col-md-6">

  <ul class="posts"><blockquote>
      <p class="lead">Video Archive</p>
    {% for post in site.posts %}
    {% if post.categories contains 'videos' %}
 
      <li><a href="{{ relative }}{{ post.url }}">{{ post.title }}</a>

        
        {% if post.tags contains 'recipes' %}
        <button type="button" class="btn btn-recipes btn-xs hidden-inline-xs" disabled="disabled">recipes</button></li>

        {% elsif post.tags contains 'how-tos' %}<button type="button" class="btn btn-how-tos btn-xs hidden-inline-xs" disabled="disabled">how-tos</button></li>

        {% elsif post.tags contains 'beauty' %}<button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled">beauty</button></li>

        {% elsif post.tags contains 'testimonial' %}<button type="button" class="btn btn-testimonials btn-xs hidden-inline-xs" disabled="disabled">testimonials</button></li>

        {% endif %}


<span class="visible-xs"><hr></span>
    {% endif %}
    {% endfor %}</blockquote>
  </ul>
  </div>
  </div>
</div>

