---
layout: default
title: Videos
---
<!-- NAVBAR
================================================== -->


          <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="whyraw.html">Raw + Detox</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li class="active"><a href="videos.html">Videos</a></li>
              <li><a href="shop.html">Shop</a></li>
             <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li><a href="immersion.html">Live Immersion Program</a></li>
                <li><a href="distancelearning.html">Distance Learning Program</a></li>
                <li><a href="rawfoodeducator.html">Raw Food Educator Program</a></li>
              </ul>
            </li>
          </ul>

 
    {% include social.html %}

        </div>
      </div>
    </div>

{% include banner.html %}



<div class="container">
  <div class="row">
    <div class="col-sm-3 img-space">
    <iframe width="250" height="250" src="//www.youtube.com/embed/2CTXmGEWyzU?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <div class="col-sm-3 img-space">
    <iframe width="250" height="250" src="//www.youtube.com/embed/gfaHul--hKg?rel=0" frameborder="0" allowfullscreen></iframe>  </div>
    <div class="col-sm-3 img-space">
    <iframe width="250" height="250" src="//www.youtube.com/embed/bIR2M6L78n8?rel=0" frameborder="0" allowfullscreen></iframe>  </div>
    <div class="col-sm-3 img-space">
    <iframe width="250" height="250" src="//www.youtube.com/embed/EL2AfufC7Tg?rel=0" frameborder="0" allowfullscreen></iframe>  </div>
    </div>

  <div class="row">
    <div class="col-sm-3 img-space">
    <iframe width="250" height="250" src="//www.youtube.com/embed/FxNLJeRIAtI?rel=0" frameborder="0" allowfullscreen></iframe>  </div>
    <div class="col-sm-3 img-space">
    <iframe width="250" height="250" src="//www.youtube.com/embed/HMoS0tcTk_k?rel=0" frameborder="0" allowfullscreen></iframe>  </div>
    <div class="col-sm-3 img-space">
    <iframe width="250" height="250" src="//www.youtube.com/embed/93V3mwb7J4c?rel=0" frameborder="0" allowfullscreen></iframe>  </div>
    <div class="col-md-3">
    <iframe width="250" height="250" src="//www.youtube.com/embed/NtxPNC4CYpI?rel=0" frameborder="0" allowfullscreen></iframe> </div>
  </div>