---
layout: default
title: Raw + Detox
---

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li class="active"><a href="whyraw.html">Raw + Detox</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="shop.html">Shop</a></li>
             <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
              <ul class="dropdown-menu">
               
                <li><a href="immersion.html">Live Immersion Program</a></li>
                <li><a href="distancelearning.html">Distance Learning Program</a></li>
                <li><a href="rawfoodeducator.html">Raw Food Educator Program</a></li>
              </ul>
            </li>
          </ul>

 
  {% include social.html %}

        </div>
      </div>
    </div>

{% include banner.html %}


    <div class="container">
      <div class="row">
        <div class="col-lg-10">
        <h6>Why Raw?</h6>


        <p>If you’re familiar with the Raw Food Lifestyle, you probably know just how healing and invigorating raw and living foods are for your mind, body, and soul.</p>

        <p>When you cook food, you lose at least 30% of the nutrients and 100% of the enzymes in that food. Nutrients are the building blocks of cells in our bodies and enzymes aid digestion and other bodily functions. Further, cooking food chemically changes the molecular structure of raw plants which may convert to toxins, carcinogens, mutagens and free-radicals associated with diseases like diabetes, arthritis, heart disease and cancer.  You could almost call them ‘healing food’.</p>

        <p>Having a good balance of raw foods in your diet helps reduce these toxic risks by flooding your body with the most nutritious food possible, giving your body the ability to heal and rejuvenate at a deep cellular level.</p>

        <p>One of the most important aspects of raw food is enzymes. Enzymes are the building blocks of life! Our bodies’ enzymes are responsible for every single action in our body: from chewing and digesting our food, to waking up in the morning and brushing our teeth. Your body produces some of its own enzymes, but you also need help from your food.</p>
        </div>
      </div>
    </div>

    <div class="headline-yellow">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 center">
              <h1>If you don’t have enough enzymes, your body won’t have the energy to develop new cells, fight off infections, or digest your food. By feeding your body raw foods, your body is literally being fed energy! When your body has help from foods’ enzymes, you’ll have more energy than ever imagined! This extra energy can be used to heal your body and help create the vibrant life you’ve always wanted.</h1><br>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">    
<br>
        <p>Raw foods also help your body reach an alkalized state—where healing, weight loss, and detoxification occur.</p>

        <p>There are two types of foods: acidic and alkaline. Acidity encourages decomposition, decay, disease and energy loss. Alkaline foods support detoxification and balance in the body. Our natural body creates both acidity and alkalinity, but the typical American diet overloads our system with too much acidity. Foods like sugar, meat, alcohol, cheese, and chocolate are very acidic and damaging during the cleansing and healing process.</p>
        </div>
      </div>
    </div>

    <div class="headline-carrot">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 center">
        <h1>Green leafy vegetables, growing sprouts, and fresh fruits are all alkalizing and cleansing.</h1><br>
                </div>
        </div>
      </div>
    </div>
     <div class="container">
      <div class="row">
        <div class="col-lg-10">    
<br>
        <p>Eat Clean: At the Raw Food Institute we flood our bodies with all of these alkalizing, cleansing foods in order to reach optimal health and rid ourselves of built up toxins.</p>

          <p>With the powerful benefits from enzymes and the detoxification of alkalizing foods, raw food allows for:</p>

          <ul>
          <li><i class="fa fa-check-square-o"></i> Increased energy</li>
          <li><i class="fa fa-check-square-o"></i> Better digestion</li>
          <li><i class="fa fa-check-square-o"></i> Weight loss</li>
          <li><i class="fa fa-check-square-o"></i> Reduced risk of heart disease</li>
          <li><i class="fa fa-check-square-o"></i> Reduced risk of diabetes and cancer</li>
          <li><i class="fa fa-check-square-o"></i> A great sense of wellbeing</li>
          <li><i class="fa fa-check-square-o"></i> Improved skin appearance</li>
          <li><i class="fa fa-check-square-o"></i> Connection to your food and surroundings</li>
          <li><i class="fa fa-check-square-o"></i> A highly ethical and sustainable diet</li>
          </ul>
          <p>But the Raw Food institute takes raw food one step further. We focus our energies on LIVING foods such as sprouts and fermented foods that are in their growth stage—when the plant is producing the most nutrients!</p>

          <p>We also use medicinal and healing foods like fresh wheatgrass, medicinal mushrooms, and superfoods to make healing and revitalizing as powerful as possible.</p>

          <p>When healing your body, you need the most clean, nutritious, and powerful foods. Raw Food provides the life force you need to create your most healthy self!</p>
          </div>
        </div>
      </div>

      <div class="headline-yellow">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 center">
              <h1>Raw foods have the power to help aid serious disease, rebuild your body, and create vibrancy in your life!</h1><br>
            </div>
          </div>
        </div>
      </div>
      
  <div class="container">
    <div class="row">
      <div class="col-lg-10">

       <h6>Detoxification</h6>
    <p>Detoxification is a part of our daily lives and our body is constantly working to detoxify from toxins through the liver, kidneys, colon, lungs, lymph and skin. However, because of the toxic world we live in, our bodies can have a tough time keeping up with the cleansing process. So it’s important for us to set aside time to take control of our own detoxification and aim to cleanse our body from built up toxins.</p>

 <p>Toxins are all around us.</p>

 <p>We absorb them into our skin from the environment, use chemicals in hair and body products, eat foods with added sugars, dyes, preservatives, and pesticides, drink acidic alcohol and caffeine, and create toxins with stress and negative thoughts.</p>

 <p>By detoxifying, we remove these built up toxins-often stored in our fat cells-and can start moving towards a more balanced, healthy self.</p>

 <p>Detoxifying improves health, energy, immune system, memory and digestion. Detoxifying with special cleansing diets, like raw food, is the best way to assist your body in the elimination process.  The Raw Food Institute's cleansing process is most important for those suffering from immune-related diseases like cancer, arthritis, diabetes, chronic fatigue, heart disease, and much more. Many illnesses are caused by the constant presence of unwanted buildup toxic substances. By cleansing, you’re ridding your body of dead, harmful waste and rejuvenating it with pure energy.</p>

 <p>But cleansing and eliminating doesn’t just mean not consuming toxins. You need to actively flush out your system by consuming nutritious, medicinal food that helps eliminate waste. At the Raw Food Institute we use green juices, green smoothies, superfoods, and medicinal raw foods to help your body detox in the most safe, satisfying, and restorative way possible.</p>

 <p>When your body is being fed the most nutritious raw foods, you’re creating proper biochemistry that assists organs in flushing out unwanted toxins and disease. These toxic materials leak out through your skin and are eliminated by your bowels, liver, kidneys, and lungs.</p>

          </div>
        </div>
      </div>

      <div class="headline-carrot">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 center">
              <h1>Detoxification is extremely beneficial for your whole body. Every system and cell is affected by the cleansing process and is left repaired, revitalized, and working at its best. </h1><br>
            </div>
          </div>
        </div>
      </div>
      
<div class="container">
  <div class="row">
    <div class="col-lg-10">
<br>
   <p>Because of the immense benefits of detoxification, cleansing is strongly recommended for everyone. Still, detoxification can especially help individuals who are battling:</p>

<ul>
<li><i class="fa fa-check-square-o"></i> Cancer</li>
<li><i class="fa fa-check-square-o"></i> Diabetes</li>
<li><i class="fa fa-check-square-o"></i> Heart disease</li>
<li><i class="fa fa-check-square-o"></i> Allergies</li>
<li><i class="fa fa-check-square-o"></i> Mold toxicity</li>
<li><i class="fa fa-check-square-o"></i> Digestive issues</li>
<li><i class="fa fa-check-square-o"></i> Skin conditions</li>
<li><i class="fa fa-check-square-o"></i> Aching muscles and joints</li>
<li><i class="fa fa-check-square-o"></i> Immune system</li>
<li><i class="fa fa-check-square-o"></i> Low energy</li>
<li><i class="fa fa-check-square-o"></i> Depression and anxiety</li>
<li><i class="fa fa-check-square-o"></i> Poor sleep</li>
</ul>
 
</div>
</div>
</div>
</div>


<div class="headline-yellow">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 center">

{% include immersionad.html %}
      </div>
    </div>
  </div>
</div>
</div>

