  <div class="container-fluid headline-carrot">
    <div class="container" id="programs">
     
      <div class="row">
        <div class="col-sm-12">
          <div class="giant">How to work with me - 3 easy ways!</div>
            <div class="col-sm-4">
     
              <h3>All Inclusive Raw Training Raw Food Immersion with 12 weeks of one on one coaching</h3>

                <p class="lead">This program bundles our Award Winning <strong><a href="http://therawfoodinstitute.com/immersion.html" target="_blank">Live Immersion Retreat</a></strong> with 12 weeks of one on one, live success coaching. our and popular online Distance Learning course. Select the core training option that works best for you, and get everything you need to learn, implement and stay motivated! This dual success program is our most popular and effective way to achieve your health goals. , and It gives you world-class training and the support you need to achieve more than you thought possible. All for $4,997.00
                </p>

        

                  <form action="https://secure.therawfoodinstitute.com/cart?&cart=checkout&empty=true" method="post">
                    <input type="hidden" name="name" value="Immersion Retreat Plus Coaching Package with {{ page.title }}" />
                    <input type="hidden" name="price" value="4997.00" />
                     <input type="hidden" name="category" value="IMSN" />
                  <input type="hidden" name="referrer" value="{{ page.referrer }}" /> 
                  <input type="hidden" name="crfe" value="{{ page.title }}" /> 
                    <input type="submit" value="Register &raquo;" class="btn btn-lg btn-outline"></button>
                  </form></p>
            </div><!-- /.col-lg-4 -->
              <div class="col-sm-4">
                      <h3>Distance Raw Food Learning with 12 weeks of one on one coaching</h3>
                    <p class="lead">
            This program is for those who want to get started immediately but cannot attend a live immersion at this time. You will receive access to our online <strong><a href="http://therawfoodinstitute.com/distancelearning.html" target="_blank">Distance Learning</a></strong> Program including the live retreat manual, training materials, video lectures and the coaching support you need to implement what you learn at your own pace. The price is $2,797.00.</p>
            <form action="https://secure.therawfoodinstitute.com/cart?&cart=checkout&empty=true" method="post">
              <input type="hidden" name="name" value="Distance Learning Plus Coaching Package with {{ page.title }}" />
              <input type="hidden" name="price" value="2,797.00" />
               <input type="hidden" name="category" value="DL" />
            <input type="hidden" name="referrer" value="{{ page.referrer }}" /> 
            <input type="hidden" name="crfe" value="{{ page.title }}" /> 
              <input type="submit" value="Register &raquo;" class="btn btn-lg btn-outline"></button>
            </form>
              </div><!-- /.col-lg-4 -->
              <div class="col-sm-4">
                      <h3>Free Consultation</h3>
                      <p class="lead">New to raw food and don't know where to start? Get a free health assessment and learn about how {{ page.title }} and The Raw Food Institute can help you achieve your nutrition goals and live the life you want!</p>
                     <p class="lead">Enter your email below to request a free consultation with {{ page.title }}.</p>
            <form action="http://getsimpleform.com/messages?form_api_token={{ page.apitoken }}" method="post">
                  <input type='hidden' name="message" value="Someone has requested a free consulting session with you from your profile on The Raw Food Institute!"></textarea>

              <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
           <input type='hidden' name='redirect_to' value='http://therawfoodinstitute.com/coachcontactthankyou.html' />

              <!-- all your input fields here.... -->
              <input class="form-control required email"  placeholder="Your email" type='email' name='email' />
              <textarea class="form-control" rows="1" name="name" placeholder="Your name"></textarea>
                <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </form>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>