<form novalidate role="form" action="https://service.capsulecrm.com/service/newlead" method="post" id="contactForm">
  <input type="hidden" name="FORM_ID" value="02ff1f1d-d710-4880-9de5-4a5d7143f036">
    <input type="hidden" name="REVIEW_ID" value="147822">
<input type="hidden" name="COMPLETE_URL" value="http://therawfoodinstitute.com/crfesuccessthankyou.html">
<input type="hidden" name="TAG" value="CRFE">
<input type="hidden" name="TAG" value="SuccessProgram">
<input type="hidden" name="TAG" value="June14">
  <div class="form-group">
    <label for="Email">Email Address</label>
    <input type="email" name="EMAIL" class="form-control required email"  placeholder="Email">
  </div>
  <div class="form-group">
    <label for="FirstName">First Name</label>
    <input type="text" name="FIRST_NAME" class="form-control required"  placeholder="First Name">
  </div>
   <div class="form-group">
    <label for="LastName">Last Name</label>
    <input type="text" name="LAST_NAME" class="form-control required"  placeholder="Last Name">
  </div>
   <div class="form-group">
    <label for="Street">Street</label>
    <input type="text" name="STREET" class="form-control required"  placeholder="Street Address">
  </div>
   <div class="form-group">
    <label for="City">City</label>
    <input type="text" name="CITY" class="form-control required"  placeholder="City">
  </div>
   <div class="form-group">
    <label for="State">State</label>
    <input type="text" name="STATE" class="form-control required"  placeholder="State">
  </div>
   <div class="form-group">
    <label for="Zip">Zip</label>
    <input type="text" name="ZIP" class="form-control required"  placeholder="Zip">
  </div>
   <div class="form-group">
    <label for="Country">Country</label>
    <input type="text" name="COUNTRY" class="form-control required"  placeholder="Country">
  </div>
  <div class="form-group">
    <label for="LastName">Phone</label>
    <input type="text" name="PHONE" class="form-control required" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label for="OrganizationName">Company Name</label>
    <input type="text" name="ORGANIZATION_NAME" class="form-control required"  placeholder="Company, ex.">
  </div>
 
  <div class="form-group">
    <label for="Website">Website</label>
    <input type="text" name="WEBSITE" class="form-control"  placeholder="www.example.com">
  </div>
 
 <div class="form-group">
    <label for="Note">Areas of expertise/specialty</label>
   <textarea class="form-control" name="NOTE" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="Note">Bio</label>
   <textarea class="form-control" name="NOTE" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>