<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/"><strong>The Raw Food Institute Home </a></strong></li>
            <li  class="active" ><a href="{{ site.baseurl }}/{{ page.title.html }}">Certified Raw Food Educator <strong>{{ page.title }}</strong></a></li>
           
           
          </ul>

          

 

        

</div>

        </div>
      </div>
    </div>

    
