<p>


	<strong>January 30, 31 &amp; February 1, 2014:&nbsp;</strong> The Raw Living Expo-Lisa Wilson will be hosting &quot;Doctor Day&quot; in Los Angeles, California.&nbsp; The Raw Living Expo is a must-attend event! <a href="http://www.rawlivingexpo.com/2014-tickets/">tickets</a>

<p>
	<strong>April. 6-12, 2014: </strong>RFI 7-Day Immersion Course<br />
	Location - Simsbury, CT<br />
	- $2,597.00 &nbsp;<a href="http://therawfoodinstitute.com/immersion.html">more info</a></p>

<p>
	<strong>June 29-July 5, 2014: </strong>RFI 7-Day Immersion Course<br />
	Location - Simsbury, CT<br />
	- $2,597.00 &nbsp;<a href="http://therawfoodinstitute.com/immersion.html">more info</a></p>
