    <span class="text-muted">  <h3>Upcoming Events</h3>
<p>
	<strong>April 6-12, 2014: </strong>RFI 7-Day Immersion Course<br />
	Location - Simsbury, CT<br />
	- $2,597.00 &nbsp;<a href="http://therawfoodinstitute.com/immersion.html">more info</a></p>
	<p>
		<strong>April 14, 2014 6:30pm: </strong>It's a Lifestyle! w/ Lisa Wilson<br />
	Location - N.I.H.A in Washington, DC<br />
	- $10 &nbsp;<a href="http://therawfoodinstitute.com/immersion.html">more info</a></p>



<p>

	<strong>June 29-July 5, 2014: </strong>RFI 7-Day Immersion Course<br />
	Location - Simsbury, CT<br />
	- $2,597.00 &nbsp;<a href="http://therawfoodinstitute.com/immersion.html">more info</a></p>
</span>