    <span class="text-muted">  <h3>Upcoming Events</h3>




<p>

	<strong>August 9, 2014: </strong>A Morning of Health: Basic Nutrition and Cool Summer Snacks<br />
	Location - Simsbury, CT<br />
	- $10.00 &nbsp;<a href="https://www.eventbrite.com/e/a-morning-of-health-basic-nutrition-and-cool-summer-snacks-tickets-12369213651" target="_blank">register</a></p>
	<p>

	<strong>August 3-9th, 2014: </strong>RFI 7-Day Immersion Course<br />
	Location - Simsbury, CT<br />
	- $2,597.00 &nbsp;<a href="http://therawfoodinstitute.com/immersion.html">more info</a></p>
</span>



