 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
      <div class="carousel-inner">

        <div class="item item-guests active">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/jillianlove.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead">Jillian Love <strong>Chef, Teacher, Organizer and Event Planner </strong><font color="#459dfe"> San Francisco, CA </font></p><p>Combine equal parts imagination and training. Add a heaping dash of talent and an overflowing cup of passion. Top it off with the ability to create fusion of food, entertainment and fun and you have the recipe for <a href="https://www.facebook.com/ChefJillianLove" target ="_blank">Jillian Love....</a> Talented raw vegan chef, international raw educator, community organizer and event planner, inspiring presenter. We are SOO EXCITED to have her preparing all our meals and teaching our In The Kitchen series! Welcome Chef Jillian Love!!!!</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/ingridprueher.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Ingrid Prueher <font color="#459dfe">Hartford County, CT </font><strong>The Baby Sleep Whisperer &#174;</strong> </p><p> Get Your Z's On at RFI! It is said that many things in life improve with age, but getting more Z's on a daily basis is not one of them. Come learn how to sleep better once and for all. Proper sleep hygiene is very often not taught and people can practically go their entire life not sleeping well, please do not let this happen to you. Ingrid, founder of <a href="http://www.babysleepwhisperer.com" target="_blank">www.babysleepwhisperer.com </a>, a pediatric/adult sleep and nutrition consultant and a proud Raw Food Institute Educator, will tell us why sleep is so important, how many hours we should be sleeping each night, what we are doing to our bodies if we don't make sleep a priority and how sleep can make our RFI experience even better.</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

       <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/irinabreslav.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Irina Breslav  <font color="#459dfe">Stamford, CT </font><strong>ARCB Board Certified Reflexologist</strong> </p><p> Irina will be presenting on Reflexology, How to Tap Into Abundant Health, and leading a Healing Circle. Irina's been a fixture at our Immersion Retreats since we met her, her special gifts bring a unique and invaluable energy to our events.  Irina also takes reflexology appointments throughout the week.  Book early, she fills up fast.  Learn more about Irina on her website <a href="http://ibhealing.com" target="_blank">www.ibhealing.com </a></p> </blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/nathancrane.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Nathan Crane  <font color="#459dfe">Los Angeles, CA </font><strong>Lifestyle entrepreneur, speaker, author, and teacher of Life </strong> </p><p>From addiction, dependency, jail, and homelessness, to a profound spiritual awakening becoming a leading international entrepreneur of personal empowerment, Nathan helps people all over the world dissolve harmful habits and mental attachments, and experience physical, mental, emotional, financial, and spiritual transformation. Learn more about Nathan at <a href="http://nathancrane.com/" target="_blank"> nathancrane.com</a></p> </blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/laurafox.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Laura Fox  <font color="#459dfe">Los Angeles, CA </font><strong>Visionary leader, healer, author, seer and plant based raw foods nutrition advocate</strong> </p><p> Laura Fox is the founder of Best of Raw, the <a href="http://www.rawlivingexpo.com/" target="_blank">Raw Living Expo</a>, the 13-Tribes model, Activate Your Destiny, and Resonance Fest. Laura has a personal mission to nurture a global ecological, social, health and spiritual maturation process through techniques and tools of "subtle activism" and powerful events such as the Raw Living Expo and the annual Best of Raw Awards, to name a few.</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

         <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/muneezaahmed.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Muneeza Akhtar Ahmed  <font color="#459dfe">Fairfield County, CT </font><strong>Certified HypnoBirthing &#174; Practitioner, a Board & Columbia University Certified Holistic Health Coach, and has a Masters in Finance from the London Business School.</strong> </p><p> Muneeza received rave reviews for her class Distortions in our Energy Field (negative emotions) and their Relationship to our Physical Body & her gentle facilitation of Healing Circle.  We are so excited to have her back to share her beautiful energy and special gifts with the group.</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

         <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/michaelbergonzi.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Michael Bergonzi  <font color="#459dfe">Hartford County, CT </font><strong>The Wheatgrass King!</strong> </p><p> Michael has been in the alternative health field since 1990 and has been growing wheatgrass, teaching growing classes and lecturing all over the country.  Who better to teach us how to sprout and grow wheatgrass!  Michael also teaches the popular Conscious Communication class.  Learn more about Michael at <a href="http://www.wheatgrassgreenhouse.com/" target="_blank"> wheatgrassgreenhouse.com </a></p> </blockquote>
              </div>
            </div>
          </div>
        </div>

         <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/tynnelove.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Tynne Love <font color="#459dfe">Fairfield County, CT </font><strong>Chef at <a href="http://catchahealthyhabit.com/" target="_blank">Catch A Healthy Habit</a> and Herb Expert</strong> </p><p> An Immersion Retreat regular, Tynne is a renouned raw chef and teaches the popular Wild Herbs and Edibles class as well as leading Qi Gong exercises in the morning.  A close friend and longtime supporter, Tynne always brings an unmatched enthusiasm to the group.</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

         <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/drdana.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Dr. Dana Lapointe <font color="#459dfe">Hartford County, CT </font><strong>ND, AARM, LMT 
                </strong> </p><p> Dr Lapointe is a licensed naturopathic physician, a 20+ year veteran massage therapist and the founder of <a href="http://www.sustainablehw.com/" target="_blank">Sustainable Health & Wellness</a>. She graduated from National College of Natural Medicine in Portland, Oregon in 2009, and went on to become certified in Restorative Medicine (AARM). Dr Dana practices functional medicine with a focus on optimizing aging and regaining optimal health in chronic conditions and challenging cases.</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/elainetitus.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Elaine Titus <font color="#459dfe">Hartford County, CT </font><strong>speaker, food policy advocate and educator inspiring change in our nation’s food and water supply
                </strong> </p><p> Elaine is a founding board member of <a href="http://www.connfact.org/"  target="_blank">ConnFACT</a> and one of the leaders of the GMO Free CT campaign that successfully educated consumers and lobbied the Connecticut legislature to enact the first-in-the-nation GMO labeling bill.  Elaine is leading ConnFACT’s campaign to eliminate Connecticut’s statewide fluoridation mandate. Elaine has been studying nutrition and health for the past 20 years.  She became interested in GMO’s and fluoride when both of her teenage daughters began having digestive and food allergy issues.  These issues have been largely resolved by eliminating fluoride and eating a GMO free diet.  Elaine wants to share her knowledge and interest in GMO’s and fluoride with the community so they too can be happy and healthy and live the life they dream.
</p> </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <!-- /.carousel -->
