
<h2>Endless Summer</h2>

<h4>Due to popular demand, this summer we are offering not 1 but <strong>2 Live Immersion Retreats!!!</strong> The last few years we had to turn many people away because we didn't have space in our July class.  This year we want everyone who wants to come to be able to, so we worked with our partners at The Simsbury Inn, who graciously helped us squeeze in a second summer retreat August 3-9th.  Cleanse your body and spirit with our award winning detox program, and enjoy our beautiful location and enjoy eating outside, walking or biking the area's trails, and more.  There really has never been a perfect time to come!</h4><br><br><p class="lead"><strong>Are YOU ready to live your best life?</strong>

<img src="/img/fire.jpg">

<p class="lead"><font color="#e67e22">HOT SUMMER SAVINGS!!! Register in June, save $300 off full registration price, Register in July, save $250!</font></p><a href="/immersion.html" class="btn btn-lg btn-outline" role="button">Learn More</a>


   	<img class="img-responsive center" src="/img/IMG_7701.jpg">
  <div class="headline-box-carrot">





<h2>It's never too early to make your New Year's Resolution.<h2>
<p class="lead">The New Year is just around the corner, and our January Live Immersion Retreat is filling up fast.  Commit yourself to starting 2015 off with a focus on your health and join Lisa Wilson and her special guest for a transformative, life-changing week at The Raw Food Institute.  Start your journey of health with this powerful program and get the knowledge and support you need to make 2015 the year you achieve your health goals.</p>
<a href="/immersion.html" class="btn btn-lg btn-outline" role="button">Learn More</a>

</div>