<h2>Enrollment now open for spring and summer!  </h2>

<h4>Enjoy our beautiful location in spring or summer and enjoy eating outside, walking or biking the area's trails, and more.  Register today to reserve your space. Hurry, our spring and summer programs fill up fast!  </h4>
	<p class="lead"><strong>Live Immersion Program in Simsbury, CT</strong> April 6-12, 2014<a href="/immersion.html" class="btn btn-lg btn-outline"role="button">Learn More</a><br>
		<strong>Live Immersion Program in Simsbury, CT</strong> June 29-July 5, 2014 <a href="/immersion.html" class="btn btn-lg btn-outline" role="button">Learn More</a></p>

<br>


