

  <div class="headline-box-blue">

   <h2>Award Winning 7-Day Live Immersion Detox Retreats<br></h2><p class="lead"> Do you want to love your body more and enhance your well-being and energy? At our Immersion Retreats, participants detoxify, energize and rejuvenate <font color="#e73692">mind, body and spirit</font> while getting world-class raw food training — and many experience dramatic health improvements.
Are YOU ready to live your best life?</span></p>

<a 
href="/immersion.html" class="btn btn-lg btn-outline" role="button">Learn More</a>

</div>
 <p class="lead"><font color="#d9534f">Can't get away for an entire week? Check out our 3-day <a href="http://therawfoodinstitute.com/bootcamp.html" target="_blank">Bootcamp!</a></font></p>
