<h1>Enrollment now open for spring and summer!  </h1>

<h4>Enjoy our beautiful location in spring or summer and enjoy eating outside, walking or biking the area's trails, and more.  Register today to reserve your space. Hurry, our spring and summer programs fill up fast!  </h4>
	<p class="lead"><strong>Live Immersion Program in Simsbury, CT</strong> April 6-12, 2014<a href="/immersion.html"><button type="button" class="btn btn-lg btn-outline">Learn More</button></a><br>
		<strong>Live Immersion Program in Simsbury, CT</strong> June 29-July 4, 2014 <a href="/immersion.html"><button type="button" class="btn btn-lg btn-outline">Learn More</button></a></p>

<br>