<h2>Are you Ready to Feel Amazing With The  Raw Food Lifestyle?</h2>

<h4>The Raw Food Institute is the only detoxification center of its kind in the Northeast. We offer advanced raw food nutrition and detoxification programs that educate and train you in the healing effects of raw foods.  Our goal is to make you feel confident in living a Raw Foods lifestyle at home while helping you detoxify and energize your body.</h4>
<p class="lead"><strong>Live Immersion Program in Simsbury, CT</strong><a href="/immersion.html" class="btn btn-lg btn-outline" role="button">Learn More</a></h1>
<br>