<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
   _pa.orderId = "pa"; // OPTIONAL: attach unique conversion identifier to conversions
   _pa.revenue = "2597.00"; // OPTIONAL: attach dynamic purchase values to conversions
   _pa.productId = "IMSN"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/5352e9e30cfce6c10800004f.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>
                