<h2>The Raw Food Institute Scholarship Program</h2>

<h4>Have you had your eye on The Raw Food Institute's Live Immersion Program, but money was an obstacle?  We are proud to be able to offer two additional scholarships for the January 2014 Live Immersion Program!!  We love our scholarship program, giving back and helping make your dreams come true is one of our favorite things. </h4>
<p class="lead"><strong>Want to learn more about our scholarship program?</strong> What are you waiting for? <a href="/scholarships.html"><button type="button" class="btn btn-lg btn-outline">Learn More</button></a></h2>
<br>