<h2>The Raw Food Institute Scholarship Program</h2>

<h4>Have you had your eye on The Raw Food Institute's Live Immersion Program, but money was an obstacle? We want to help.  We are now accepting sholarships for our spring and summer programs.  The deadline for applications for the April retreat is March 10. What are you waiting for?  </h4>
<p class="lead"><strong>Want to learn more about our scholarship program?</strong>  <a href="/scholarships.html"><button type="button" class="btn btn-lg btn-outline">Learn More</button></a></h2>
<br>