
<div class="col-sm-3 form-box img-thumbnail">

 <img src="img/Ebookimage1.jpg"><p>Subscribe to our mailing list and receive a free gift, our Going Raw The Right Way Ebook.</p>





<form action="http://akashacollective.createsend.com/t/d/s/iyddu/" method="post" class="form-group">
    <p>
      
        <input id="fieldName" name="cm-name" type="text" class="form-control"  placeholder="Name"/>
    </p>
    <p>
     
        <input id="fieldEmail" name="cm-iyddu-iyddu" type="email" required class="form-control" placeholder="Email"/>
    </p>
    <p>
        <button type="submit" class="btn btn-danger btn-block">Subscribe</button>
    </p>
</form>

</div>

