
<div class="col-sm-3 form-box img-thumbnail">



<h2>Sign up to receive our newsletter </h2><span class="text-muted"><h4>Every week we will share the latest research, tips and techniques to help you live a healthier happier life.</h4>



<form novalidate action="http://akashacollective.createsend.com/t/d/s/duay/" method="post" class="form-group" id="contactForm">
    <p>
      
        <input id="fieldName" name="cm-name" type="text" class="form-control required"  placeholder="Name"/>
    </p>
    <p>
     
        <input id="fieldEmail" name="cm-duay-duay" type="email" class="form-control required email" placeholder="Email"/>
    </p>
    <p>
        <button type="submit" class="btn btn-danger btn-block">Subscribe</button>
    </p>
</form>

</div>
