<div class="navbar-right">
    <a href="http://facebook.com/therawfoodinstitute" target="_blank"><i class="fa fa-facebook-square fa-3x" alt ="visit us on facebook"></i></a>
    <a href="http://twitter.com/rawfoodinst" target="_blank"><i class="fa fa-twitter-square fa-3x" alt="visit us on twitter"></i></a>
    <a href="http://therawfoodinstitute.com/feed.xml" target="_blank" alt="subscribe via rss"><i class="fa fa-rss-square fa-3x"></i>
    <a href="http://www.pinterest.com/rawfoodinst" target="_blank" alt="visit us on pinterest"><i class="fa fa-pinterest-square fa-3x"></i></a>
</div>