 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
      <div class="carousel-inner">

        <div class="item item-guests active">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/chefkelly.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead">Kelly Serbonich <strong>Chef, Teacher, Mother and Karaoke Star </strong><font color="#459dfe"> Ithaca, New York </font></p><p>Kelly literally wrote the book on raw food. Formerly the executive chef at Hippocrates, she is a world-renouned expert on the Anne Wigmore protocal and one of the true pioneers of the raw food movement.  Kelly is also a fun and engaging teacher and a master chef in the kitchen. Welcome back Chef Kelly!!!</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

          <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/ingridprueher.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Ingrid Prueher <font color="#459dfe">Fairfield County, CT </font><strong>The Baby Sleep Whisperer &#174;</strong> </p>

                <p> You can catch Ingrid's shows on parents.com, but in January she will be live with us at The Raw Food Institute.</p><p>
Get Your Z's On at RFI! It is said that many things in life improve with age, but getting more Z's on a daily basis is not one of them. Come learn how to sleep better once and for all. Proper sleep hygiene is very often not taught and people can practically go their entire life not sleeping well.  Don't let this happen to you. Ingrid, founder of <a href="http://www.babysleepwhisperer.com" target="_blank">www.babysleepwhisperer.com </a>, a pediatric/adult sleep and nutrition consultant and a proud Raw Food Institute Educator, will tell us why sleep is so important, how many hours we should be sleeping each night, what we are doing to our bodies if we don't make sleep a priority and how sleep can make our RFI experience even better.

         </p> </blockquote>
              </div>
            </div>
          </div>
        </div>

       <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/irinabreslav.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Irina Breslav  <font color="#459dfe">Stamford, CT </font><strong>ARCB Board Certified Reflexologist</strong> </p><p> Irina will be presenting on Reflexology, How to Tap Into Abundant Health, and leading a Healing Circle. Irina's been a fixture at our Immersion Retreats since we met her, her special gifts bring a unique and invaluable energy to our events.  Irina also takes reflexology appointments throughout the week.  Book early, she fills up fast.  Learn more about Irina on her website <a href="http://ibhealing.com" target="_blank">www.ibhealing.com </a></p> </blockquote>
              </div>
            </div>
          </div>
        </div>



         <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/michaelbergonzi.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Michael Bergonzi  <font color="#459dfe">Hartford County, CT </font><strong>The Wheatgrass King!</strong> </p><p> Michael has been in the alternative health field since 1990 and has been growing wheatgrass, teaching growing classes and lecturing all over the country.  Who better to teach us how to sprout and grow wheatgrass!  Michael also teaches the popular Conscious Communication class.  Learn more about Michael at <a href="http://www.wheatgrassgreenhouse.com/" target="_blank"> wheatgrassgreenhouse.com </a></p> </blockquote>
              </div>
            </div>
          </div>
        </div>

         <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/tynnelove.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Tynne Love <font color="#459dfe">Fairfield County, CT </font><strong>Chef at <a href="http://catchahealthyhabit.com/" target="_blank">Catch A Healthy Habit</a> and Herb Expert</strong> </p><p> An Immersion Retreat regular, Tynne is a renouned raw chef and teaches the popular Wild Herbs and Edibles class as well as leading Qi Gong exercises in the morning.  A close friend and longtime supporter, Tynne always brings an unmatched enthusiasm to the group.</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

         <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/drdana.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Dr. Dana Lapointe <font color="#459dfe">Hartford County, CT </font><strong>ND, AARM, LMT 
                </strong> </p><p> Dr Lapointe is a licensed naturopathic physician, a 20+ year veteran massage therapist and the founder of <a href="http://www.sustainablehw.com/" target="_blank">Sustainable Health & Wellness</a>. She graduated from National College of Natural Medicine in Portland, Oregon in 2009, and went on to become certified in Restorative Medicine (AARM). Dr Dana practices functional medicine with a focus on optimizing aging and regaining optimal health in chronic conditions and challenging cases.</p> </blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-guests">
          <div class="container guests">
            <div class="row"><br>
              <div class="col-sm-2"><img src="img/elainetitus.jpg" class="thumbnail">
              </div>
              <div class="col-sm-10"><blockquote>
                <p class="lead"><font color="#fffff"></font>Elaine Titus <font color="#459dfe">Hartford County, CT </font><strong>speaker, food policy advocate and educator inspiring change in our nation’s food and water supply
                </strong> </p><p> Elaine is a founding board member of <a href="http://www.connfact.org/"  target="_blank">ConnFACT</a> and one of the leaders of the GMO Free CT campaign that successfully educated consumers and lobbied the Connecticut legislature to enact the first-in-the-nation GMO labeling bill.  Elaine is leading ConnFACT’s campaign to eliminate Connecticut’s statewide fluoridation mandate. Elaine has been studying nutrition and health for the past 20 years.  She became interested in GMO’s and fluoride when both of her teenage daughters began having digestive and food allergy issues.  These issues have been largely resolved by eliminating fluoride and eating a GMO free diet.  Elaine wants to share her knowledge and interest in GMO’s and fluoride with the community so they too can be happy and healthy and live the life they dream.
</p> </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <!-- /.carousel -->
