---
layout: crfe
title: Gail Davis
description: Certified Raw Food Educator
tags:
status: publish
type: post
published: true
apitoken: 2756d9be66c519dc7a679022a1c54aeb
youtubeurl: O7-Z7ugkpcI
referrer: VWP552
---
  




<div class="container">


  <div class="row">
    <div class="col-sm-3">
      <img class="img-thumbnail text-center" src="/img/crfe/gaildavis.jpg">

      <h3>{{ page.title }}</h3>

      <!-- Begin Profile Information -->

      <p>Certified Raw Food Educator Since: 2010</p>
      <a href="www.healthylifebegins.com" target ="_blank">www.healthylifebegins.com</a><br>
      Baltimore, Maryland<br><br>
      <p>Specialties:<button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled"> Lyme </button><button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled"> Fitness</button><button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled"> Goal Setting</button></p>
      <p class="lead">Send me a message!</p>

      <!-- End Profile Information -->
      {% include simplecontact.html %}<br>

		</div>
		<div class="col-sm-9">

     <h1 class="posttitle">Certified Raw Food Educator <font color="#e67e22">{{ page.title }}</font></h1>
     <img src="/img/CRFE.jpg" class="pull-right hidden-xs">



    <!-- Begin Bio -->
           
    <p>Dr. Gail Davis is a Certified Health, Nutrition and Wellness Counselor, Certified Raw Food Educator, and Endodontist (root canal specialist) in Maryland. She is also an author, a speaker, and a member of the Physicians Committee for Responsible Medicine founded by Neal Barnard, M.D. By combining her knowledge and passions, Dr. Gail has been able to create powerful nutrition and wellness programs to help people conquer goals and see results! </p>
    <p>

    Dr. Gail embraced a plant based diet lifestyle 10 years ago when she faced several health challenges. Some of which were chronic fatigue, gluten and other food allergies, hypothyroidism, irritability, sinusitis, conjuctivitis, and insomnia just to name a few. On her journey she learned how to eat responsibly and the value of raw food diet. This confirmed what she always knew in her heart, that bodies heal themselves when give the right fuel. Not only did her symptoms clear up on their own, her energy level increased and her emotions were more balanced. At 52, she takes no prescription medications and admits to feeling better now than she did when she was in her thirties. Seeing the benefits of raw foods gave her a passion to want to learn more 
     </p>
    <p>
    After running a successful Endodontic practice for 9 years, Dr. Gail returned to study at The Institute of Integrative Nutrition where she studied under experts like Dr. Andrew Weil, David Wolfe, Sally Fallon, and Dr. Joel Furman. She has been trained in nutrition and lifestyle techniques by some of the leading experts in the field. After completing her training in holistic nutrition, she furthered her study in raw food nutrition at The Raw Food Institute, and became a Certified Raw Food Educator. 
     </p>
    <p>
    In April of 2014, Dr. Gail completed a rawfood 4-day teacher training class with Alissa Cohen who has been eating and teaching the raw vegan lifestyle since 1986. The 4th day training was an advanced raw food class taught by her gourmet chef. Dr. Gail is now offering Level 1 and Level 2 classes in the Washington Metropolitan area. If anyone has an interest let’s put a class together and get started on a new journey with food! 
     </p>
    <p>
    Empowered by all this new knowledge and her own personal journey she was inspired to help others take control of their own health. This led her to organize Healthy Life Begins a Non Profit 501C3 organization that empowers individuals and families to develop and maintain total wellness through proper nutrition, exercise, healthy relationships, the right career choices, and spiritual well-being. 
     </p>
    <p>
    Whether you’re interested in one-to-one coaching, raw foods training, or a spiritual wellness ministry, Healthy Life Begins has powerful programs to help remake your health. Dr. Gail focuses on holistic and integrated health techniques to help individuals and organizations reach their goals reach your goals. 
     </p>
    <p>
    By focusing on real food education, nourishing recipes, and supported lifestyle shifts, you can make small shifts that add up to big results!
    </p>
    <!-- End Bio -->

  	</div>
	</div>
</div>

{% include coachingwywl.html %}

{% include coachingpackages.html %}
<br>