<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">


    {% if page.description %}
    <meta name="description" content="{{page.description }}" />
    {% else %}
    <meta name="description" content="{{site.description }}" />
    {% endif %}
    {% if page.categories %}
    <meta name="keywords" content="{{page.categories | join: ',' }}" />
    {% else %}
    <meta name="keywords" content="{{site.keywords | join: ',' }}" />
    {% endif %}
   <link href="{{ relative }}/css/style.css" rel="stylesheet">
    <link href="{{ relative }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ relative }}/css/bootstrap-responsive.css" rel="stylesheet"> 
    <link href="{{ relative }}/css/custom.css" rel="stylesheet">
    <link href="{{ relative }}/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ relative }}/font-awesome/css/font-awesome.min.css">
 

   {% include tracking.html %}


  </head>
  <body>
 {% include crfenavbar.html %}
 
  


<div class="container-fluid hidden-xs">
  <img src="/img/crfeb.jpg" class="img-responsive">
</div>
<div class="container visible-xs">
  <img src="/img/CRFE.jpg" class="img-responsive center">
 <h1>Certified Raw Food Educator <font color="#e67e22">{{ page.title }}</font></h1>
</div>
 
 



 {{ content }}

<hr>

      {% include footer.html %}
{% include perfectaudience.html %}
<script src="{{ relative }}/js/jquery.js"></script>
<script src="{{ relative }}/js/bootstrap.js"></script>

    </body>
</html>
