<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">


    {% if page.description %}
    <meta name="description" content="{{page.description }}" />
    {% else %}
    <meta name="description" content="{{site.description }}" />
    {% endif %}
    {% if page.categories %}
    <meta name="keywords" content="{{page.categories | join: ',' }}" />
    {% else %}
    <meta name="keywords" content="{{site.keywords | join: ',' }}" />
    {% endif %}
   <link href="{{ relative }}/css/style.css" rel="stylesheet">
    <link href="{{ relative }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ relative }}/css/bootstrap-responsive.css" rel="stylesheet"> 
    <link href="{{ relative }}/css/custom.css" rel="stylesheet">
    <link href="{{ relative }}/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ relative }}/font-awesome/css/font-awesome.min.css">
 

   {% include tracking.html %}


  </head>
  <body>
 {% include navbar.html %}

     <div class="live-headline visible-lg" style="background-image: url({{ relative }}/img/tableb.jpg)">
      <img class="logo" src="{{ relative }}/img/RFILLS.jpg">
      
      </div>
      <div class="live-headline visible-sm visible-md" style="background-image: url({{ relative }}/img/table.jpg)">
      <img class="logo" src="{{ relative }}/img/RFILLS.jpg">
      
      </div>
        <div class="live-headline-small visible-xs">
      <img class="logo" src="{{ relative }}/img/RFILLS.jpg">
      
      </div>
   


<div class="container">
  <div class="row">
    

    <div class="col-md-6">
 

 <h1 class="posttitle">{{ page.title }}</h1>

 {{ content }}
 {% include printfriendly.html %}
<hr>
{% include addthis.html %}
<div id="shareandcomment">
{% include disqus.html %}
</div>

    </div>

    <div class="col-md-6">

  <ul class="posts">
  <ul class="posts"><blockquote>
    <div class="headline-box-yellow">
   
      {% include immersionad.html %}
    </div>
         {% include responsivesignup.html %}<br>

      <p class="lead">Archive</p>
    {% for post in site.posts %}
    {% unless (post.categories contains 'testimonials' or post.categories contains 'videos' or post.tags contains 'suppress') %}
      <li><a href="{{ relative }}{{ post.url }}">{{ post.title }}</a>
        
       {% if post.tags contains 'recipes' %}
        <button type="button" class="btn btn-recipes btn-xs hidden-inline-xs" disabled="disabled">recipes</button></li>

        {% elsif post.tags contains 'how-tos' %}<button type="button" class="btn btn-how-tos btn-xs hidden-inline-xs" disabled="disabled">how-tos</button></li>

        {% elsif post.tags contains 'beauty' %}<button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled">beauty</button></li>

        {% elsif post.tags contains '2 minute health tip' %}<button type="button" class="btn btn-beauty btn-xs hidden-inline-xs" disabled="disabled">2-Minute Health Tip</button></li>

        {% elsif post.tags contains 'testimonial' %}<button type="button" class="btn btn-testimonials btn-xs hidden-inline-xs" disabled="disabled">testimonials</button></li>

        {% endif %}

       <span class="visible-xs"><hr></span>
     {% endunless %}
     {% endfor %}

   <br><hr>
{% include ebooksignup.html %}

</blockquote>
  </ul>
  </div>
  </div>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
      <p class="small">Disclaimer: The entire contents of this website are based upon the research and opinions of The Raw Food Institute and Lisa Wilson, unless otherwise noted. The information on this website is not intended to replace a one-on-one relationship with a qualified health care professional nor intended as medical advice. It is intended as a sharing of knowledge and information from the research and experience of our organization. You are encouraged to make your own health care decisions based upon your research and in partnership with a qualified health care professional. These statements have not been evaluated by the Food and Drug Administration, nor are these statements intended to diagnose, treat, cure or prevent any disease.</p>
      </div>
    </div>
  </div>
</div>
<hr>
      {% include footer.html %}

<script src="{{ relative }}/js/jquery.js"></script>
<script src="{{ relative }}/js/bootstrap.js"></script>

    </body>
</html>
